<div class="footer"> 
  <div class="row">
    <div class="col-md-3">
      <h4>WHERE WE ARE</h4>
      <p>NATIONAL CENTER FOR VETERANS STUDIES
      332 S 1400 E, BUILDING 73
      ROOM 4, SLC, UT 84112
      801-587-7978
      CONTACT</p>
    </div>
    <div class="col-md-3">
      <h4>OTHER LINKS</h4>
      <ul>
        <li>NONDISCRIMINATION & ACCESSIBILITY</li>
        <li>DISCLAIMER</li>
        <li>PRIVACY</li>
        <li>CREDITS & ATTRIBUTIONS</li>
      </ul>
    </div>
    <div class="col-md-3">
      <h4>STAY CONNECTED</h4>
      <ul>
        <li><%= image_tag "facebook-icon-40.png", width: 40, alt: "facebook link" %></li>
        <li><%= image_tag "Twitter-icon-40.png", width: 40, alt: "twitter link" %></li>
      </ul>
    </div>
    <div class="col-md-3">
      <%= image_tag "NCVS-Logo.png", width: 400, alt: "NCVS Logo" %>
    </div>
        <p class="app-footer">@ 2017 | National Center for Veteran Studies</p>
  </div>
</div>