<div class="app-card-container-header">
  <div class="card">
    <div class="row">
      <div class="col-md-12">
        <div class="inner cover">
          <h1 class="cover-heading pages-title"><%= @title %></h1>
          <button type="button" class="btn btn-outline-secondary btn-lg">Survey Button</button>
          <%= video_tag(
          'Cropped-Banner-Flag.mp4',
            id: 'background',
            autoplay: true,
            loop: true,
            muted: true,
          )
          %>
        </div>
      </div>
    </div>
  </div>
</div>