<div class="static-page-header">
  <div class="row">
    <div class="col-md-12">
      <h1>Predictors Of Academic Success Among College Student Veterans</h1>
    </div>
  </div>
</div>

<div class="static-page">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'academicsuccess', width: 500, alt: "academic success", class: 'static-image' %>
    </div>
    <div class="col-md-8 static-text">
      <h3>Principal Investigator(s):</h3>
      <p>Craig J. Bryan, PsyD, ABPP, National Center for Veterans Studies</p>

      <h3>Funding Agency:</h3>
      <p>N/A</p>

      <h3>Collaborating Institutions:</h3>
      <p>N/A</p>

      <h4>Status:</h4>
      <p>Active</p>

      <h4>Tags:</h4>
      <p>Military Suicide, Military Trauma & PTSD, Student Service Members & Veterans</p>

      <h4>Description:</h4>
      <p>In this anonymous online survey, we are assessing the experiences of military personnel and veterans who are enrolled in college classes across the county. The primary objective of the study is to identify factors that contribute to academic success among military personnel and veterans.</p>
    </div>
  </div>
</div>

<div class="static-page">
  <div class="row">
    <div class="col-md-12">
      <h2>Suicide Attempts Among Military Personnel And Veterans As A Recurrence Of Pre-Military Suicide Risk</h2>

      <h4>Abstract</h4>

      <p>Objective: Past self-injurious thoughts and behaviors (SITB) are robust predictors of future suicide risk, but no studies have explored the prevalence of SITB occurring prior to military service among military personnel and veterans, or the association of premilitary SITB with suicidal ideation and suicide attempts during or after military service. The current study explores these issues in two separate samples. Method: Self-report data were collected from 374 college student veterans via anonymous only survey (Study 1) and from 151 military personnel receiving outpatient mental health treatment. Results: Across both studies, premilitary suicide attempts were among the most prominent predictor of subsequent suicide attempts that occurred after joining the military, even when controlling for demographics and more recent emotional distress. Among military personnel who made a suicide attempt during or after military service, approximately 50% across both samples experienced suicidal ideation and up to 25% made a suicide attempt prior to joining the military. Military personnel and veterans who made suicide attempts prior to joining the military were over six times more likely to make a later suicide attempt after joining the military. In Study 2, significantly more severe current suicidal ideation was reported by participants with histories of premilitary suicide risk, even when controlling for SITB occurring while in the military. Conclusions: Military personnel and veterans who experienced SITB, especially suicide attempts, prior to joining the military are more likely to attempt suicide while in the military and/or as a veteran, and experience more severe suicidal crises.</p>

      <h4>Citation</h4>

      <p>Bryan, C.J., Bryan, A.O., Ray-Sannerud, B.N., Etienne, N., & Morrow, C.E. (in press). Suicide attempts among military personnel and veterans as a recurrence of premilitary suicide risk. Comprehensive Psychiatry.</p>
      <br>
      <br>
      <h2>Student Veterans: A National Survey Exploring Psychological Symptoms And Suicide Risk</h2>

      <h4>Abstract</h4>

      <p>The current study explored psychological symptoms, symptom severity, and suicide risk in a national sample (N = 628) of student veterans. We hypothesized that the rates, types, and severity of problems experienced by student veterans on campus would in many ways mirror those reported by active duty service members as well as the Operation Iraqi Freedom/Operation Enduring Freedom veteran population. Almost 35% of the sample experienced "severe anxiety," 24% experienced "severe depression," and almost 46% experienced significant symptoms of posttraumatic stress disorder. Of particular concern, there were significant numbers of participants thinking about suicide (46%), with 20% having a plan, 10.4% thinking about suicide "often or very often," 7.7% making an attempt, and 3.8% believing that suicide is either "likely" or "very likely." Implications of the findings are discussed, with a particular focus on college and university campuses.</p>

      <h4>Citation</h4>

      <p>Rudd, M.D., Goulding, J., & Bryan, C.J. (2011). Student veterans: a national survey exploring psychological symptoms and suicide risk. Professional Psychology: Research and Practice, 42, 354-360. Full text available at http://psycnet.apa.org</p>
    </div>
  </div>
</div>