<div class="static-page-header">
  <div class="row">
    <div class="col-md-12">
      <h2>Predictors Of Academic Success Among College Student Veterans</h2>
    </div>
  </div>
</div>

<div class="static-page">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'academicsuccess', width: 400, alt: "academic success", class: 'static-image' %>
    </div>
    <div class="col-md-8 static-text">
      <h3>Principal Investigator(s):</h3>
      <p>Craig J. Bryan, PsyD, ABPP, National Center for Veterans Studies</p>

      <h3>Funding Agency:</h3>
      <p>N/A</p>

      <h3>Collaborating Institutions:</h3>
      <p>N/A</p>

      <h4>Status:</h4>
      <p>Active</p>

      <h4>Description:</h4>
      <p>In this anonymous online survey, we are assessing the experiences of military personnel and veterans who are enrolled in college classes across the county. The primary objective of the study is to identify factors that contribute to academic success among military personnel and veterans.</p>

      <%= link_to "Back", research_path, class: "btn btn-primary btn-sm" %>
    </div>
  </div>
</div>

