<div class="static-page-header">
  <div class="row">
    <div class="col-md-12">
      <h2>Clinical Features And Correlates Of Traumatic Brain Injury And Suicide Risk In A Clinical Sample Of Deployed Service Members</h2>
    </div>
  </div>
</div>

<div class="static-page">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'braininjury.jpg', width: 400, alt: "brain injury", class: 'static-image' %>
    </div>
    <div class="col-md-8 static-text">
      <h3>Principal Investigator(s):</h3>
      <p>Craig J. Bryan, PsyD, ABPP, National Center for Veterans Studies</p>

      <h3>Funding Agency:</h3>
      <p>N/A</p>

      <h3>Collaborating Institutions:</h3>
      <p>N/A</p>

      <h4>Status:</h4>
      <p>Complete</p>

      <h4>Description:</h4>
      <p>In this study, we are seeking to understand factors associated with posttraumatic stress disorder (PTSD), traumatic brain injury (TBI), and suicide risk among several clinical and nonclinical samples of military personnel deployed to Iraq during 2009. To date, we have identified how neurocognitive performance immediately following TBI, how combat exposure contributes to mental health and suicide risk, and how multiple TBIs contribute to increased emotional distress and suicidal ideation among deployed military personnel.</p>

      <%= link_to "Back", research_path, class: "btn btn-primary btn-sm" %>
    </div>
  </div>
</div>