<div class="static-page-header">
  <div class="row">
    <div class="col-md-12">
      <h1>Clinical Features And Correlates Of Traumatic Brain Injury And Suicide Risk In A Clinical Sample Of Deployed Service Members</h1>
    </div>
  </div>
</div>

<div class="static-page">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'braininjury.jpg', width: 500, alt: "brain injury", class: 'static-image' %>
    </div>
    <div class="col-md-8 static-text">
      <h3>Principal Investigator(s):</h3>
      <p>Craig J. Bryan, PsyD, ABPP, National Center for Veterans Studies</p>

      <h3>Funding Agency:</h3>
      <p>N/A</p>

      <h3>Collaborating Institutions:</h3>
      <p>N/A</p>

      <h4>Status:</h4>
      <p>Complete</p>

      <h4>Tags:</h4>
      <p>Traumatic Brain Injury, Military Trauma & PTSD, Military Suicide, Understanding Military Mental Health</p>

      <h4>Description:</h4>
      <p>In this study, we are seeking to understand factors associated with posttraumatic stress disorder (PTSD), traumatic brain injury (TBI), and suicide risk among several clinical and nonclinical samples of military personnel deployed to Iraq during 2009. To date, we have identified how neurocognitive performance immediately following TBI, how combat exposure contributes to mental health and suicide risk, and how multiple TBIs contribute to increased emotional distress and suicidal ideation among deployed military personnel.</p>
    </div>
  </div>
</div>

<div class="static-page">
  <div class="row">
    <div class="col-md-12">
      <h2>Multiple Traumatic Brain Injury And Concussive Symptoms Among Deployed Military Personnel</h2>

      <h4>Abstract</h4>

      <p>Objective: To identify if concussive symptoms occur with greater frequency among military personnel with multiple lifetime TBIs and if a history of TBI increases risk for subsequent TBI. Patients: One hundred and sixty-one military personnel referred to a TBI clinic for evaluation and treatment of suspected head injury at a military clinic in Iraq. Methods: Military patients completed standardized self-report measures of concussion, depression and post-traumatic stress symptoms; clinical interview; and physical examination. Group comparisons were made according to number of lifetime TBIs and logistic regression was utilized to determine the association of past TBIs on current TBI. Results: Patients with one or more previous TBIs were more likely to report concussion symptoms immediately following a recent injury and during the evaluation. Although differences between single and multiple TBI groups were observed, these did not reach the level of statistical significance. A history of any TBI increased the likelihood of current TBI diagnosis, but this relationship was no longer significant when adjusting for injury mechanism, depression and post-traumatic stress symptoms. Conclusion: Among deployed military personnel, the relationship of previous TBI with recent TBI and concussive symptoms may be largely explained by the presence of psychological symptoms.</p>

      <h4>Citation</h4>

      <p>Bryan, C.J. (in press). Multiple traumatic brain injury and concussive symptoms among deployed military personnel. Brain Injury. Full text available at http://informhealthcare.com</p>
      <br>
      <br>
      <h2>Repetitive Traumatic Brain Injury, Psychological Symptoms, And Suicide Risk In A Clinical Sample Of Deployed Military Personnel</h2>

      <h4>Abstract</h4>

      <p>Importance: Traumatic brain injury (TBI) is believed to be one factor contributing to rising suicide rates among military personnel and veterans. This study investigated the association of cumulative TBIs with suicide risk in a clinical sample of deployed military personnel referred for a TBI evaluation. Objective: To determine whether suicide risk is more frequent and heightened among military personnel with multiple lifetime TBIs than among those with no TBIs or a single TBI. Design: Patients completed standardized self-report measures of depression, posttraumatic stress disorder (PTSD), and suicidal thoughts and behaviors; clinical interview; and physical examination. Group comparisons of symptom scores according to number of lifetime TBIs were made, and generalized regression analyses were used to determine the association of cumulative TBIs with suicide risk. Participants: Patients included 161 military personnel referred for evaluation and treatment of suspected head injury at a military hospital's TBI clinic in Iraq. Main Outcomes and Measures: Behavioral Health Measure depression subscale, PTSD Checklist–Military Version, concussion symptoms, and Suicide Behaviors Questionnaire–Revised. Results: Depression, PTSD, and TBI symptom severity significantly increased with the number of TBIs. An increased incidence of lifetime suicidal thoughts or behaviors was associated with the number of TBIs (no TBIs, 0%; single TBI, 6.9%; and multiple TBIs, 21.7%; P = .009), as was suicidal ideation within the past year (0%, 3.4%, and 12.0%, respectively; P = .04). The number of TBIs was associated with greater suicide risk (β [SE] = .214 [.098]; P = .03) when the effects of depression, PTSD, and TBI symptom severity were controlled for. A significant interaction between depression and cumulative TBIs was also found (β  = .580 [.283]; P = .04). Conclusions and Relevance: Suicide risk is higher among military personnel with more lifetime TBIs, even after controlling for clinical symptom severity. Results suggest that multiple TBIs, which are common among military personnel, may contribute to increased risk for suicide.</p>

      <h4>Citation</h4>

      <p>Bryan, C.J., & Clemans, T.A. (2013). Repetitive traumatic brain injury, psychological symptoms, and suicide risk in a clinical sample of deployed military personnel. JAMA Psychiatry, 70, 686-691. Full text available at http://archpsyc.jamanetwork.com</p>
      <br>
      <br>
      <h2>Multiple Traumatic Brain Injuries (Or Concussions) Increase Severity Of Sleep Disturbance Among Deployed Military Personnel</h2>

      <h4>Abstract</h4>

      <p>Study Objectives: Considerable research indicates that sleep disturbances and insomnia are more common and severe among individuals following a traumatic brain injury (TBI). It remains unclear, however, how the experience of multiple TBIs affect sleep disturbances and insomnia. The current study investigated the incidence and severity of insomnia and sleep complaints among active-duty military personnel who have sustained multiple TBIs. Design and Setting: Upon intake at a military TBI clinic located in Iraq, 150 male military patients completed standardized self-report measures and clinical interviews. Measurements and Results: Patients were categorized into three groups according to history of TBI: zero TBIs (n = 18), single TBI (n = 54), multiple TBIs (n = 78). Rates of clinical insomnia significantly increased across TBI groups (P < 0.001):- 5.6% for no TBIs, 20.4% for single TBI, and 50.0% for multiple TBIs. Insomnia severity significantly increased across TBI groups even when controlling for depression, posttraumatic stress disorder, and concussion symptom severity (B = 1.134, standard error = 0.577, P = 0.049). Conclusions: Multiple TBIs are associated with increased risk for and severity of sleep disturbance among male military personnel.</p>

      <h4>Citation</h4>

      <p>Bryan, C.J. (2013). Multiple traumatic brain injuries (or concussions) increase severity of sleep disturbance among deployed military personnel. SLEEP, 36, 941-946. Full text available at http://www.journalsleep.org</p>
      <br>
      <br>
      <h2>Combat Exposure And Suicide Risk In Two Samples Of Military Personnel</h2>

      <h4>Abstract</h4>

      <p>Objective: In light of increased suicidal behaviors among military personnel and veterans since the initiation of combat operations in Afghanistan and Iraq, questions have been raised about the potential causal role of combat. The objective of the current study was to identify any direct or indirect effects of combat exposure on suicide risk through depression symptom severity, posttraumatic stress disorder (PTSD) symptom severity, thwarted belongingness, perceived burdensomeness, and fearlessness about death, consistent with the interpersonal-psychological theory of suicide (Joiner, 2005). Method: Structural equation modeling was utilized with two separate samples of deployed military personnel, 1 nonclinical (n = 348; 89.7% male, mean age = 24.50) and 1 clinical (n = 219; 91.8% male, mean age = 27.88), to test the effects of combat exposure on suicide risk. Results: Greater combat exposure was directly associated with fearlessness about death and PTSD symptom severity in both samples, but failed to show either a direct or indirect effect on suicide risk. PTSD symptom severity was strongly associated with depression symptom severity, which in turn was related to suicide risk directly (in the nonclinical sample) or indirectly through low belongingness and perceived burdensomeness (in the clinical sample). Conclusions: In both samples of deployed active duty military personnel, combat exposure was either unrelated to suicide risk or was too distally related to have a measurable effect. Results do not support the interpersonal-psychological theory's hypothesis that combat exposure should be indirectly related to suicide risk through acquired fearlessness of death.</p>

      <h4>Citation</h4>

      <p>Bryan, C.J., Hernandez, A.M., Allison, S., & Clemans, T. (2013). Combat exposure and suicide risk in two samples of military personnel. Journal of Clinical Psychology, 69, 64-77. Full text available at http://onlinelibrary.wiley.com</p>
      <br>
      <br>
      <h2>Loss Of Consciousness, Depression, Posttraumatic Stress Disorder, And Suicide Risk Among Deployed Military Personnel With Mild Traumatic Brain Injury (MTBI)</h2>

      <h4>Abstract<h4>

      <p>Objective: To identify clinical variables associated with suicidality in military personnel with mild traumatic brain injury (mTBI) while deployed to Iraq. Setting: Outpatient TBI clinic on a US military base in Iraq. Participants: Military personnel (N = 158) referred to an outpatient TBI clinic for a standardized intake evaluation, 135 (85.4%) who had a diagnosis of mTBI and 23 (14.6%) who did not meet criteria for TBI. Main Measures: Suicidal Behaviors Questionnaire-Revised, Depression subscale of the Behavioral Health Measure-20, Posttraumatic Stress Disorder Checklist-Military Version, Insomnia Severity Index, self-report questionnaire, and clinical interview addressing TBI-related symptoms. Results: Among patients with mTBI, increased suicidality was significantly associated with depression and the interaction of depression with posttraumatic stress disorder symptoms. Longer duration of loss of consciousness was associated with decreased likelihood for any suicidality. Conclusion: Assessment after TBI in a combat zone may assist providers in identifying those at risk for suicidality and making treatment recommendations for service members with mTBI.</p>

      <h4>Citation</h4>

      <p>Bryan, C.J., Clemans, T.A., Hernandez, A.M., & Rudd, M.D. (2013). Loss of consciousness, depression, posttraumatic stress disorder, and suicide risk among deployed military personnel with mild traumatic brain injury (mTBI). Journal of Head Trauma Rehabilitation, 28, 13-20. Full text available at http://journals.lww.com</p>
      <br>
      <br>
      <h2>Perceived Burdensomeness, Fearlessness Of Death, And Suicidality Among Deployed Military Personnel</h2>

      <h4>Abstract</h4>

      <p>The interpersonal-psychological theory of suicide posits that the interaction of three elements is required for lethal suicidal behaviors: the perception that one is a burden on others, the perception that one does not belong, and fearlessness about death combined with high pain tolerance (termed "acquired capability" for suicide). Although an ever expanding research base supports the theory, very limited data exist supporting the theory among military personnel, a group that has experienced a rapid increase in suicides during the past several years. The current study tests the interpersonal-psychological theory in two clinical samples of military personnel while deployed to Iraq: those seeking treatment for mild traumatic brain injury, and those seeking outpatient mental health treatment. In both samples, perceived burdensomeness and acquired capability were significantly associated with suicidality, as was their interaction term. Results partially support the interpersonal-psychological theory of suicide, and indicate that perceptions of burdensomeness combined with fearlessness about death are associated with increased suicidality among deployed military personnel.</p>

      <h4>Citation</h4>

      <p>Bryan, C.J., Clemans, T.A., & Hernandez, A.M. (2012). Perceived burdensomeness, fearlessness of death, and suicidality among deployed military personnel. Personality and Individual Differences, 52, 374-379. Full text available at http://www.sciencedirect.com</p>
      <br>
      <br>
      <h2>Magnitudes Of Decline On ANAM Subtest Scores Relative To Predeployment Performance Among Service Members Evaluated For Traumatic Brain Injury In Iraq</h2>

      <h4>Abstract</h4>

      <p>Objective: Identify the proportion of service members demonstrating declines in Automated Neuropsychological Assessment Metrics (ANAM) scores as part of a traumatic brain injury (TBI) evaluation conducted while deployed to Iraq. Background: Although TBI has been associated with poorer performance on cognitive test in the general population and military combatants, little is known about the proportion of service members demonstrating declines in ANAM scores after TBI. Methods: Military personnel (N = 116) referred to a combat support hospital for TBI evaluation in Iraq underwent a standardized intake evaluation including computerized neurocognitive testing, psychological and physical health questionnaires, a clinical interview, and a physical examination by a physician. Predeployment and postinjury cognitive performance among service members with and without a TBI diagnosis was compared. Results: A significantly larger proportion of patients with TBI demonstrated greater declines in speed across all ANAM subtests compared with patients with no TBI. Differences in accuracy scores among patients with TBI relative to patients without TBI were nonsignificant. Patients with TBI also demonstrated greater than minimal declines on throughput Simple Reaction Time, Procedural Reaction Time, Code Substitution-Learning, and Spatial Memory scores, with no significant differences on Code Substitution-Delayed or Mathematical Processing (MATH). A similar pattern was seen among individuals examined within 72 hours of index injury. Conclusion: Assessment of cognitive impairment following TBI in a combat zone may assist providers in making treatment recommendations for service members with mild TBI.</p>

      <h4>Citation</h4>

      <p>Bryan, C.J., & Hernandez, A.M. (2012). Magnitudes of decline on ANAM subtest scores relative to predeployment performance among service members evaluated for traumatic brain injury in Iraq. Journal of Head Trauma Rehabilitation, 27, 45-54. Full text available at http://journals.lww.com</p>
      <br>
      <br>
      <h2>Cognitive And Psychological Predictors Of Aero-Medical Evacuation Following Head Injury Among Deployed Military Personnel</h2>

      <h4>Abstract</h4>

      <p>Over 2.5 million U.S. military members have deployed in support of Operation Iraqi Freedom (OIF) and Operation Enduring Freedom (OEF), and more than 48,000 service members have been aeromedically evacuated (A/E'ed) from both theaters for both battle and nonbattle injuries. The purpose of this study was to consider differences in clinical presentation associated with dispositional status among a sample of 157 deployed service members evaluated subsequent to a suspected brain injury and to identify which symptomatic variables are most associated with the decision to recommend A/E. Results from an in-theater hospital suggest that symptoms persisting to the point of clinical evaluation were associated more strongly with disposition than symptoms reported immediately postinjury. When considering a range of common concussive and psychological symptoms associated with brain injury, only memory problems, irritability, and hearing problems were associated with increased likelihood for A/E from a combat zone following suspected brain injury.</p>

      <h4>Citation</h4>

      <p>Morrow, C.E., Bryan, C.J., & Isler, W.C. (2011). Cognitive and psychological predictors of aero-medical evacuation following head injury among deployed military personnel. Psychological Services, 8, 224-235. Full text available at http://psycnet.apa.org</p>
      <br>
      <br>
      <h2>Reexperiencing Symptoms And The Interpersonal-Psychological Theory Of Suicidal Behavior Among Deployed Service Members</h2>

      <h4>Abstract</h4>

      <p>Recent evidence suggests that military suicide rates now exceed those of the general public. Numerous recent efforts to address this growing concern have focused on the interpersonal psychological theory of suicidal behavior (IPTS). In the current study, we explored the relationships among reexperiencing symptoms of posttraumatic stress disorder and the three components of the IPTS in a sample of deployed military personnel examined for traumatic brain injury. Results indicated that reexperiencing symptoms were directly related to the acquired capability for suicide, but their relationships to perceived burdensomeness and thwarted belongingness were statistically explained by general mental health distress. Results indicate that mental rehearsal of painful and provocative experiences may have an impact on suicide risk.</p>

      <h4>Citation</h4>

      <p>Bryan, C.J., & Anestis, M.D. (2011). Reexperiencing symptoms and the interpersonal-psychological theory of suicidal behavior among deployed service members. Journal of Clinical Psychology, 67, 856-865. Full text available at http://onlinelibrary.wiley.com</p>
      <br>
      <br>
      <h2>The Clinical Utility Of A Brief Measure Of Perceived Burdensomeness And Thwarted Belongingness For The Detection Of Suicidal Military Personnel</h2>

      <h4>Abstract</h4>

      <p>Perceived burdensomeness (PB) and thwarted belongingness (TB) are important indicators of suicide risk; however, limited research has investigated applicability to military populations, and no efforts have been initiated to translate these constructs into easily implemented clinical tools. The current study examined the structure and validity of a brief self-report survey of PB and TB, the 10-item Interpersonal Needs Questionnaire (INQ-10), among a sample of 219 deployed military personnel. Factor analysis confirmed that PB and TB are distinct, and are correlated with psychiatric symptomatology. Receiver operating characteristic analyses indicated the most useful cutoff scores were PB=1 and TB=3.2. Both scales significantly improved the ability to rule-in and rule-out current suicide ideation among deployed service members.</p>

      <h4>Citation</h4>

      <p>Bryan, C.J. (2011). The clinical utility of a brief measure of perceived burdensomeness and thwarted belongingness for the detection of suicidal military personnel. Journal of Clinical Psychology, 67, 981-992. Full text available at http://onlinelibrary.wiley.com</p>

      <h2>Predictors Of Posttraumatic Headache Severity Among Deployed Military Personnel</h2>

      <h4>Abstract</h4>

      <p>Objective: The current study used a cross-sectional observational design to evaluate the relationship between psychological, physiological, and contextual factors and headache severity among 133 deployed military personnel and 4 civilian contractors diagnosed with mild traumatic brain injury (mTBI) referred to a combat support hospital in Iraq. Background: Although TBI and headache sequelae have been documented for military combatants, little is known about factors associated with headache severity. Methods: Military personnel (n = 157) and civilian (n = 4) contractors referred to a combat support hospital in Iraq underwent a standardized intake evaluation which included computerized neurocognitive testing, psychological and physical health questionnaires, a clinical interview, and a physical examination by a physician. Results: Results of zero-inflated Poisson regression modeling suggest that insomnia is associated with increased likelihood for endorsement of any headache, but loss of consciousness, post-traumatic stress disorder symptoms, and slowed reaction time only are predictive of headache severity. Among the subset of patients presenting to the combat support hospital within 7 days of mTBI (n = 101), number of TBI symptoms demonstrated a non-significant trend toward increased likelihood of headache endorsement of any kind, with loss of consciousness, post-traumatic stress disorder, and slowed reaction time demonstrating significant relationships with headache severity. Conclusion: Knowledge of predictors of post-concussive headache onset and severity may assist clinicians in making important decisions regarding treatment recommendations for veterans with mTBI.</p>

      <h4>Citation</h4>

      <p>Bryan, C.J., & Hernandez, A.M. (2011). Predictors of posttraumatic headache severity among deployed military personnel. Headache, 51, 945-953. Full text available at http://onlinelibrary.wiley.com</p>

      <h2>Associations Between Types Of Combat Violence And The Acquired Capability For Suicide</h2>

      <h4>Abstract</h4>

      <p>Research suggests that combat exposure might increase risk for suicide. The interpersonal-psychological theory of suicide (IPTS) proposes that exposure to painful and provocative experiences such as combat contribute to fearlessness about death and increased pain tolerance, which serve to enhance the individual's capability to attempt suicide. Violent and aggressive combat experiences, in particular, should demonstrate relatively stronger associations to this capability. The current study tests this proposition in a sample of deployed active duty combatants. Results indicate that all types of combat exposure independently contribute to capability for suicide. Consistent with the IPTS, when considering all types of combat simultaneously, combat characterized by violence and high levels of injury and death are associated with relatively stronger associations to this capability.</p>

      <h4>Citation</h4>

      <p>Bryan, C.J., & Cukrowicz, K.C. (2011). Associations between types of combat violence and the acquired capability for suicide. Suicide and Life-Threatening Behavior, 41, 126-136. Full text available at http://onlinelibrary.wiley.com</p>

      <h2>Circumventing Mental Health Stigma By Embracing The Warrior Culture: Feasibility And Acceptability Of The Defender's Edge Program</h2>

      <h4>Abstract</h4>

      <p>Despite considerable efforts on the part of the Department of Defense, Department of Veterans Affairs, and the wider mental health community, mental health stigma continues to be a significant barrier to seeking help by service members, highlighting the need for newer modes of thought. A significant factor contributing to this stigma is the fundamental difference between traditional mental health approaches and the warrior culture. As a mental health prevention initiative, the Defender's Edge (DEFED) program was specifically developed to fit within the United States Air Force Security Forces (SF) charged with ground combat operations while deployed to Iraq. DEFED adopted a strengths-based philosophy and integrated a psychologist into the SF culture. Evaluative feedback from 192 program participants is presented, demonstrating high programmatic acceptability and feasibility suggestive of success in circumventing mental health stigma.</p>

      <h4>Citation</h4>

      <p>Bryan, C.J., & Morrow, C.E. (2011). Circumventing mental health stigma by embracing the warrior culture: feasibility and acceptability of the Defender's Edge Program. Professional Psychology: Research and Practice, 42, 16-23. Full text available at http://psycnet.apa.org</p>

      <h2>Differences In Cognitive Performance, Concussive Symptoms, And Psychological Symptoms Between Acute Blast Versus Non-Blast Head Injuries</h2>

      <h4>Abstract</h4>

      <p>Blast-related head injuries are one of the most prevalent injuries among military personnel deployed in service of Operation Iraqi Freedom. Although several studies have evaluated symptoms after blast injury in military personnel, few studies compared them to nonblast injuries or measured symptoms within the acute stage after traumatic brain injury (TBI). Knowledge of acute symptoms will help deployed clinicians make important decisions regarding recommendations for treatment and return to duty. Furthermore, differences more apparent during the acute stage might suggest important predictors of the long-term trajectory of recovery. This study evaluated concussive, psychological, and cognitive symptoms in military personnel and civilian contractors (N582) diagnosed with mild TBI (mTBI) at a combat support hospital in Iraq. Participants completed a clinical interview, the Automated Neuropsychological Assessment Metric (ANAM), PTSD Checklist-Military Version (PCL-M), Behavioral Health Measure (BHM), and Insomnia Severity Index (ISI) within 72 hr of injury. Results suggest that there are few differences in concussive symptoms, psychological symptoms, and neurocognitive performance between blast and nonblast mTBIs, although clinically significant impairment in cognitive reaction time for both blast and nonblast groups is observed. Reductions in ANAM accuracy were related to duration of loss of consciousness, not injury mechanism.</p>

      <h4>Citation</h4>

      <p>Luethke, C.A., Bryan, C.J., Morrow, C.E., & Isler, W.C. (2011). Differences in cognitive performance, concussive symptoms, and psychological symptoms between acute blast versus non-blast head injuries. Journal of the International Neuropsychological Society, 17, 36-45. Full text available at http://journals.cambridge.org</p>

      <h2>Challenges And Considerations For Managing Suicide Risk In Combat Zones</h2>

      <h4>Abstract</h4>

      <p>As suicide rates in the military rise, increased attention has been placed on the effective management of high-risk service members. Military mental health professionals deployed to combat zones face a number of challenges and barriers for effective risk management that are unique to the deployed setting. To date, there exists no body of literature identifying areas in which suicide risk management differs between garrison and combat settings to guide mental health professionals in improving clinical decision making with respect to managing suicidal service members in combat zones. On the basis of experience gained during deployments to combat zones, the authors outline several key features of the deployed context that can impact suicide risk and its effective management in combat zones and integrate empirical findings relevant to each issue. Considerations for clinical care and risk management are discussed.</p>

      <h4>Citation</h4>

      <p>Bryan, C.J., Kanzler, K.E., Durham, T.L., West, C.L., & Greene, E. (2010). Challenges and considerations for managing suicide risk in combat zones. Military Medicine, 175, 713-718.</p>

      <h2>Combat Experience And The Acquired Capability For Suicide</h2>

      <h4>Abstract</h4>

      <p>Rising suicide rates are an increasing concern among military personnel. The interpersonal-psychological theory of suicide proposes that three necessary factors are needed to die by suicide: feelings that one does not belong with other people, feelings that one is a burden on others or society, and an acquired capability to overcome the fear and pain associated with suicide. The current study tests the theory's proposal that acquired capability may be particularly influenced by military experience, because combat exposure may cause habituation to fear of painful experiences such as suicide. Utilizing clinical and nonclinical samples of military personnel deployed to Iraq, results of the current study indicate that a greater range of combat experiences predicts acquired capability above and beyond depression and post-traumatic stress disorder symptoms, previous suicidality, and other common risk factors for suicide. Combat experiences did not, however, predict perceived burdensomeness or thwarted belongingness. The authors discuss how combat experiences might serve as a mechanism for elevating suicide risk and implications for clinical interventions and suicide prevention efforts.</p>

      <h4>Citation</h4>

      <p>Bryan, C.J., Cukrowicz, K.C., West, C.L., & Morrow, C.E. (2010). Combat experience and the acquired capability for suicide. Journal of Clinical Psychology, 66, 1044-1056. Full text available at http://onlinelibrary.wiley.com</p>
    </div>
  </div>
</div>