<div class="static-page-header">
  <div class="row">
    <div class="col-md-12">
      <h2>The National Center for Veterans Studies and Couple Laboratory for Observational StudiEs (CLOSE)</h2>
    </div>
  </div>
</div>

<div class="static-page">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'closelab.jpg', width: 400, alt: "close lab", class: 'static-image' %>
    </div>
    <div class="col-md-8 static-text">
      <h3>Seeks participants to help us learn about links between risk for suicide and the ways that partners in committed relationships couples have conversations about their relationships and what they find meaningful in life.</h3>
      <h3>Principal Investigator(s)</h3>
      <p>Robert Baucom PhD, CLOSE lab</p>

      <h3>Eligible participants:</h3>

      <ul>
        <li>Are in a committed relationship of at least 1 year in duration where one or both partners are in the Utah Army National Guard.</li>
        <li>Currently living together and having done so for the past 6 months.</li>
        <li>Live within 25 miles of the University of Utah.</li>
        <li>Are at least 18 years old.</li>
        <li>Have reliable internet access at home.</li>
        <li>Speak fluent English.</li>
      </ul>
      <p>Additionally, both you and your partner must be willing to participate in the study for either of you to be eligible.</p>

       <p>Participation requires a 2.5 hour meeting in the BEHS building on the University’s main campus, 2 hours of data collection at home, and brief assessments 6 and 12 months later.</p>

       <p>You will be asked to have several conversations with your spouse and to complete several questionnaires while you wear physiological equipment to monitor your breathing, heart rate, and sweat gland activation. Study procedures will be video- and audio-recorded.</p>

       <p>Each participant will receive $165 compensation ($330 per couple) for completing all study procedures. This study is sponsored by the U.S. Army Medical Research and Materiel Command.</p>

       <p>Please contact us by email, closelab.utah@gmail.com, or by phone, (801) 251-6928, to receive more detailed information about the study and to determine your eligibility. Make sure to tell us the best way to get in touch with you and also whether it is okay for us to leave a message for you if you’d like for us to contact you by phone.</p>
    </div>
  </div>
</div>