<div class="static-page-header">
  <div class="row">
    <div class="col-md-12">
      <h2>Brief Cognitive-Behavior Therapy For Military Populations</h2>
    </div>
  </div>
</div>

<div class="static-page">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'cognitivebehaviortherapy.jpg', width: 400, alt: "cognitive behavior therapy", class: 'static-image' %>
    </div>
    <div class="col-md-8 static-text">
      <h3>Principal Investigator(s):</h3>
      <p>M. David Rudd, PhD, ABPP, National Center for Veterans Studies, University of Memphis</p>

      <h3>Funding Agency:</h3>
      <p>Department of Defense</p>

      <h3>Collaborating Institutions:</h3>
      <p>Evans Army Community Hospital, Fort Carson</p>
      <p>University of Texas Health Science Center at San Antonio</p>
      
      <h4>Status:</h4>
      <p>Closed to enrollment, follow-up assessments only</p>

      <h4>Description:</h4>
      <p>In this treatment study, we are evaluating the effectiveness of a brief, 12-session psychotherapy (called brief cognitive-behavior therapy, or BCBT) for reducing suicide attempts among active duty Soldiers with suicidal ideation and/or a recent suicide attempt. To date, this study has uncovered important clues for understanding why Soldiers attempt suicide. Preliminary results further suggest that Soldiers who receive BCBT are 50% less likely to attempt suicide as compared to Soldiers who receive standard mental health treatment.</p>

      <%= link_to "Back", research_path, class: "btn btn-primary btn-sm" %>
    </div>
  </div>
</div>