<div class="static-page-header">
  <div class="row">
    <div class="col-md-12">
      <h1>Brief Cognitive-Behavior Therapy For Military Populations</h1>
    </div>
  </div>
</div>

<div class="static-page">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'cognitivebehaviortherapy.jpg', width: 500, alt: "cognitive behavior therapy", class: 'static-image' %>
    </div>
    <div class="col-md-8 static-text">
      <h3>Principal Investigator(s):</h3>
      <p>M. David Rudd, PhD, ABPP, National Center for Veterans Studies, University of Memphis</p>

      <h3>Funding Agency:</h3>
      <p>Department of Defense</p>

      <h3>Collaborating Institutions:</h3>
      <p>Evans Army Community Hospital, Fort Carson</p>
      <p>University of Texas Health Science Center at San Antonio</p>
      
      <h4>Status:</h4>
      <p>Closed to enrollment, follow-up assessments only</p>

      <h4>Tags:</h4>
      <p>Effective Treatments, Military Suicide, Understanding Military Mental Health</p>

      <h4>Description:</h4>
      <p>In this treatment study, we are evaluating the effectiveness of a brief, 12-session psychotherapy (called brief cognitive-behavior therapy, or BCBT) for reducing suicide attempts among active duty Soldiers with suicidal ideation and/or a recent suicide attempt. To date, this study has uncovered important clues for understanding why Soldiers attempt suicide. Preliminary results further suggest that Soldiers who receive BCBT are 50% less likely to attempt suicide as compared to Soldiers who receive standard mental health treatment.</p>
    </div>
  </div>
</div>

<div class="static-page">
  <div class="row">
    <div class="col-md-12">
      <h2>Brief Cognitive Behavioral Therapy For Suicidality In Military Populations<h2>

      <h4>Abstract</h4>

      <p>This article describes a set of "common elements" underlying a new approach to the clinical management and treatment of suicidality and provides a general description of brief cognitive behavioral therapy (BCBT) in treating suicidality in military populations. BCBT was developed and adapted to the unique treatment environment of a military setting, one that limits the ability to offer intensive and enduring psychotherapy. BCBT offers a unique alternative to traditional psychotherapy, to reduce suicidal behavior and improve the patient's ability to more fully participate in longer-term therapy for targeted Axis I and II disorders like post-traumatic stress disorder and/or major depression.</p>

      <h4>Citation</h4>

      <p>Rudd, M.D. (2012). Brief cognitive behavioral therapy (BCBT) for suicidality in military populations. Military Psychology, 24, 592-603. Full text available at http://psycnet.apa.org<p>
      <br>
      <br>
      <h2>Reasons For Suicide Attempts Among Active Duty Soldiers: A Functional Approach</h2>

      <h4>Abstract</h4>

      <p>Background: Self-reported reasons for suicide attempts were examined in a sample of active duty soldiers who had attempted suicide using a functional approach that classifies suicidal behaviors into four primary functions of reinforcement: automatic negative (AN-R; to reduce aversive internal experiences), automatic positive (AP-R; to generate desired internal experiences), social negative (SN-R; to avoid aversive contextual demands), and social positive (SP-R; to generate desired environmental contexts). Based on previous theory and research, the authors hypothesized that soldiers would attempt suicide primarily to reduce aversive internal experiences (i.e., AN-R). Methods: 72 soldiers (66 male, 6 female; 65.3% Caucasian, 9.7% African-American, 2.8% Asian, 2.8% Pacific Islander, 4.2% Native American, and 9.7% "other"; age M=27.34, SD=6.50) were interviewed using the Suicide Attempt Self Injury Interview to assess suicidal intent, method, lethality, and reasons for attempting suicide. Results: Soldiers endorsed attempting suicide for both automatic and social reasons, with multiple functions being endorsed in 95% of attempts. AN-R was endorsed in 100% of suicide attempts, and was primary to other functions. Suicidal intent was weakly correlated with AN-R, AP-R, and SN-R functions (rs<.22), and medical lethality was very weakly correlated with only the SP-R function (r=.18). Limitations: Small sample size and retrospective self-report methodology. Concludions: Soldiers attempt suicide primarily to alleviate emotional distress. Reasons for attempting suicide do not correlate strongly with suicidal intent or medical lethality.</p>

      <h4>Citation</h4>

      <p>Bryan, C.J., Rudd, M.D., & Wertenberger, E. (2013). Reasons for suicide attempts among active duty Soldiers: a functional approach. Journal of Affective Disorders, 144, 148-152. Full text available at http://www.jad-journal.com</p>
      <br>
      <br>
      <h2>Life Stressors, Emotional Distress, And Trauma-Related Thoughts Occuring Within 24 Hours Of Suicide Attempts Among Active Duty U.S. Soldiers</h2>

      <h4>Abstract</h4>

      <p>External life events and internal experiences (i.e., emotional distress and trauma-related thoughts) occurring in the 24 h preceding suicide attempts were examined in a sample of active duty U.S. soldiers. Seventy-two Soldiers (66 male, 6 female; 65.3% Caucasian, 9.7% African-American, 2.8% Asian, 2.8% Pacific Islander, 4.2% Native American, and 9.7% "other"; age M = 27.34, SD = 6.50) were interviewed using the suicide attempt self injury interview to assess the occurrence of external events and internal experiences on the day of their suicide attempts, and to determine their associations with several dimensions of suicide risk: suicidal intent, lethality, and deliberation about attempting. Multiple external stressors and internal states were experienced by soldiers in the 24 h preceding their suicide attempts, with emotional distress being the most common. Trauma-related thoughts were much less frequently reported in the 24 h preceding suicide attempts. Emotional experiences were directly associated with suicidal intent, and explained the relationship between external events and suicidal intent. Lethality was unrelated to any external events, emotional experiences, or trauma-related thoughts. Greater emotional distress and trauma-related thoughts were associated with shorter deliberation about whether or not to attempt suicide. Soldiers experience multiple sources of distress in the period immediately preceding their suicide attempts. Soldiers who experience more negative emotional experiences have a stronger desire for suicide and spend less time deliberating before an attempt.</p>

      <h4>Citation</h4>

      <p>Bryan, C.J., & Rudd, M.D. (2012). Life stressors, emotional distress, and trauma-related thoughts occurring within 24 h of suicide attempts among active duty U.S. Soldiers. Journal of Psychiatric Research, 46, 843-848. Full text available at http://www.sciencedirect.com</p>
      <br>
      <br>
      <h2>Defining Treatment Completion According To Patient Competency: A Case Example Using Brief Cognitive Behavioral Therapy (BCBT) For Suicidal Patients</h2>

      <h4>Abstract</h4>

      <p>Treatment completion (commonly referred to as termination) is a routine and essential component of the treatment process. Although the relevant literature has discussed how to complete treatment, much less discussion and guidance exists regarding when, and under what conditions, treatment should be considered complete. The current article reviews various approaches to defining treatment completion, identifying three general patterns within the psychotherapy literature: clinician judgment, patient outcomes, and number of sessions attended. We propose defining treatment completion in terms of patient skill mastery and competency, and provide an overview of how patient competency is used to define treatment progress and completion within Brief Cognitive Behavioral Therapy for suicidal patients.</p>

      <h4>Citation</h4>

      <p>Citation: Bryan, C.J., Gartner, A.M., Wertenberger, E., Delano, K., Wilkinson, E., Breitbach, J., Bruce, T., & Rudd, M.D. (2012). Defining treatment completion according to patient competency: a case example using Brief Cognitive Behavioral Therapy (BCBT) for suicidal patients. Professional Psychology: Research & Practice, 43, 130-136. Full text Available at http://psycnet.apa.org</p>
      <br>
      <br>
      <h2>A Practical, Evidence-Based Approach For Means Restriction Counseling With Suicidal Patients</h2>

      <h4>Abstract</h4>

      <p>Assessing a patient's access to potentially lethal means for suicide and taking steps to restrict access to means are common expectations for reasonable outpatient management of suicidal patients. Although scientific evidence supports means restriction as a suicide prevention strategy, means restriction continues to be infrequently utilized by clinicians, in large part because of the general lack of available training and guidance. The present article reviews the conceptual basis and empirical evidence for means restriction, discusses common barriers to means-restriction counseling, and provides practical procedures and tools (e.g., the means receipt, the crisis support plan) for accomplishing means-restriction counseling in routine clinical practice.</p>

      <h4>Citation</h4>

      <p>Bryan, C.J., Stone, S., & Rudd, M.D. (2011). A practical, evidence-based approach for means restriction counseling with suicidal patients. Professional Psychology: Research and Practice, 42, 339-346. Full text available at http://psycnet.apa.org</p>
      <br>
      <br>
      <h2>Recognizing And Responding To Suicide Risk With Veterans In Non-Clinical Settings And Communities Of Faith: Using The 4-E's Checklist</h2>

      <h4>Abstract</h4>

      <p>Increasing numbers of returning veterans are transitioning back into civilian life. Despite the majority making the transition with ease and success, surprisingly large numbers are struggling with persistent emotional distress and suicide risk. Given that communities of faith are seen as perhaps the most effective institution at helping ease the transition, clergy are in a unique position to intervene with struggling veterans and facilitate the transition to clinical care. A straightforward checklist, the 4-E's, is offered to guide the process for those confronted with such a challenge.</p>

      <h4>Citation</h4>

      <p>Rudd, M.D. (2012). Recognizing and responding to suicide risk with veterans in non-clinical settings and communities of faith: using the 4-E's checklist. Family and Community Ministries, 25.</p>
    </div>
  </div>
</div>