<% @title="CONTACT" %>


<div class="contact">
  <div class="row">
    <div class="col-md-6 contact-image">
      <%= image_tag 'contact-us.jpg', width: 400%>
    </div>
    <div class="col-md-6 contact-text">
      NATIONAL CENTER FOR VETERANS STUDIES<br>
      332 S 1400 E, BUILDING 73 ROOM 4<br>
      SLC, UT 84112<br>
      801-587-7978
    </div>
  </div>
</div>