<div class="static-page-header">
  <div class="row">
    <div class="col-md-12">
      <h1>Risk And Protective Factors For PTSD And Social-Occupational Impairment Among Special Operations Forces (SOF) Personnel</h1>
    </div>
  </div>
</div>

<div class="static-page">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'factorsforptsd.jpg', width: 500, alt: "factors for ptsd", class: 'static-image' %>
    </div>
    <div class="col-md-8 static-text">
      <h3>Principal Investigator(s):</h3>
      <p>James Stephenson, PsyD, Maxwell Air Force Base</p>
      <p>Chad E. Morrow, PsyD, Maxwell Air Force Base</p>
      <p>Craig J. Bryan, PsyD, ABPP, National Center for Veterans Studies</p>

      <h3>Funding Agency:</h3>
      <p>Department of the Air Force</p>

      <h3>Collaborating Institutions:</h3>
      <p>Maxwell Air Force Base, Alabama</p>

      <h4>Status:</h4>
      <p>Active</p>

      <h4>Tags:</h4>
      <p>Military Trauma & PTSD, Military Resiliance</p>

      <h4>Description:</h4>
      <p>In this longitudinal study, we are seeking to identify risk factors that contribute to emotional distress and problems in daily living among U.S. Air Force pararescue jumpers (PJs), as well as protective factors that contribute to their health, well-being, and resilience. Results to date suggest that rates of mental health problems among PJs are comparable to rates among other military samples, exposure to medical-related traumas are more strongly associated with posttraumatic stress than traditional combat, and a stronger sense of accomplishment is related to better physical health.</p>
    </div>
  </div>
</div>

<div class="static-page">
  <div class="row">
    <div class="col-md-12">
      <h2>Posttraumatic Stress Symptoms And Work Related-Accomplishment As Predictors Of General Health And Medical Utilization Among Special Operations Forces (SOF) Personnel</h2> 

      <h4>Abstract</h4>

      <p>Research has established clear links among PTSD, somatic symptoms, and general health among conventional force military personnel. It is possible that the same relationships exist amongst Special Operations Force (SOF) personnel, but there are very few, if any, studies that examine these relationships. This study investigated correlates of general health and medical visits among SOF personnel, and found that the interaction of somatic and PTSD symptoms were associated with worse health and more frequent medical visits. Follow-up analyses indicated that the interaction of avoidance symptoms with somatic symptoms was significantly associated with worse health, whereas the interaction of emotional numbing with somatic symptoms significantly contributed to increased medical visits. Additionally, results suggest that a sense of accomplishment amongst SOF personnel may serve as a protective factor against poor health. Results suggest developing interactions amongst SOF personnel that promote a sense of achievement to ultimately improve the health of the force.</p>

      <h4>Citation</h4>

      <p>Bryan, C.J., Stephenson, J.A., Morrow, C.E., Staal, M., & Haskell, J. (in press). Posttraumatic stress symptoms and work related-accomplishment as predictors of general health and medical utilization among Special Operations Forces (SOF) personnel. Journal of Nervous and Mental Disease.</p>
    </div>
  </div>
</div>