<div class="static-page-header">
  <div class="row">
    <div class="col-md-12">
      <h2>Risk And Protective Factors For PTSD And Social-Occupational Impairment Among Special Operations Forces (SOF) Personnel</h2>
    </div>
  </div>
</div>

<div class="static-page">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'factorsforptsd.jpg', width: 400, alt: "factors for ptsd", class: 'static-image' %>
    </div>
    <div class="col-md-8 static-text">
      <h3>Principal Investigator(s):</h3>
      <p>James Stephenson, PsyD, Maxwell Air Force Base</p>
      <p>Chad E. Morrow, PsyD, Maxwell Air Force Base</p>
      <p>Craig J. Bryan, PsyD, ABPP, National Center for Veterans Studies</p>

      <h3>Funding Agency:</h3>
      <p>Department of the Air Force</p>

      <h3>Collaborating Institutions:</h3>
      <p>Maxwell Air Force Base, Alabama</p>

      <h4>Status:</h4>
      <p>Active</p>

      <h4>Description:</h4>
      <p>In this longitudinal study, we are seeking to identify risk factors that contribute to emotional distress and problems in daily living among U.S. Air Force pararescue jumpers (PJs), as well as protective factors that contribute to their health, well-being, and resilience. Results to date suggest that rates of mental health problems among PJs are comparable to rates among other military samples, exposure to medical-related traumas are more strongly associated with posttraumatic stress than traditional combat, and a stronger sense of accomplishment is related to better physical health.</p>

      <%= link_to "Back", research_path, class: "btn btn-primary btn-sm" %>
    </div>
  </div>
</div>