<div class="inner cover">
  <h1 class="cover-heading">NATIONAL CENTER FOR VETERANS STUDIES</h1>
  <p class="lead">College of Social & Behavioral Science</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>