<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">We believe in research, education, outreach, and advocacy for improving the lives of veterans, and better positioning these skilled, experienced and well-trained veterans for continued service that further advances American values, prosperity, and security. Please help us continue to support veterans and the National Center for Veterans Studies and make a donation today.</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>