<div class="static-page-header">
  <div class="row">
    <div class="col-md-12">
      <h2>Evaluation Of Suicidality, Cognitions, And Pain Experience (ESCAPE): Implications For Cognitive Behavioral Therapy In Military Populations</h2>
    </div>
  </div>
</div>

<div class="static-page">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'implicationsforcbtinmilitary.jpg', width: 400, alt: "implications for cbt in military", class: 'static-image' %>
    </div>
    <div class="col-md-8 static-text">
      <h3>Principal Investigator(s):</h3>
      <p>Kathryn E. Kanzler, PsyD, Andrews Air Force Base</p>
      <p>Don McGeary, PhD, ABPP, University of Texas Health Science Center</p>
      <p>Craig J. Bryan, PsyD, ABPP, National Center for Veterans Studies</p>

      <h3>Funding Agency:</h3>
      <p>Department of Defense</p>

      <h3>Collaborating Institutions:</h3>
      <p>Wilford Hall Medical Center</p>
      <p>Lackland Air Force Base</p>
      <p>University of Texas Health Science Center at San Antonio</p>

      <h4>Status:</h4>
      <p>Active</p>

      <h4>Description:</h4>
      <p>In this anonymous survey study, we are seeking to understand how chronic pain is related to mental health problems and suicide risk among active duty military personnel, veterans, and family members who are receiving outpatient psychological treatment for pain-related disorders. To date, we have found that pain intensity and suicide-specific beliefs such as perceived burdensomeness (i.e., the belief that others would be better off without you) are important predictors of suicidal thoughts among patients with chronic pain.</p>

      <%= link_to "Back", research_path, class: "btn btn-primary btn-sm" %>
    </div>
  </div>
</div>