<div class="static-page-header">
  <div class="row">
    <div class="col-md-12">
      <h1>Evaluation Of Suicidality, Cognitions, And Pain Experience (ESCAPE): Implications For Cognitive Behavioral Therapy In Military Populations</h1>
    </div>
  </div>
</div>

<div class="static-page">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'implicationsforcbtinmilitary.jpg', width: 500, alt: "implications for cbt in military", class: 'static-image' %>
    </div>
    <div class="col-md-8 static-text">
      <h3>Principal Investigator(s):</h3>
      <p>Kathryn E. Kanzler, PsyD, Andrews Air Force Base</p>
      <p>Don McGeary, PhD, ABPP, University of Texas Health Science Center</p>
      <p>Craig J. Bryan, PsyD, ABPP, National Center for Veterans Studies</p>

      <h3>Funding Agency:</h3>
      <p>Department of Defense</p>

      <h3>Collaborating Institutions:</h3>
      <p>Wilford Hall Medical Center</p>
      <p>Lackland Air Force Base</p>
      <p>University of Texas Health Science Center at San Antonio</p>

      <h4>Status:</h4>
      <p>Active</p>

      <h4>Tags:</h4>
      <p> Military Suicide</p>

      <h4>Description:</h4>
      <p>In this anonymous survey study, we are seeking to understand how chronic pain is related to mental health problems and suicide risk among active duty military personnel, veterans, and family members who are receiving outpatient psychological treatment for pain-related disorders. To date, we have found that pain intensity and suicide-specific beliefs such as perceived burdensomeness (i.e., the belief that others would be better off without you) are important predictors of suicidal thoughts among patients with chronic pain.</p>
    </div>
  </div>
</div>

<div class="static-page">
  <div class="row">
    <div class="col-md-12">
      <h2>Suicidal Ideation And Perceived Burdensomeness In Patients With Chronic Pain</h2>

      <h4>Abstract</h4>

      <p>There is a clear relationship between suicide risk and chronic pain conditions. However, the exact nature of this link has been poorly understood, with risk attribution often limited to comorbid depression. Perceived burdensomeness has already been confirmed as a risk factor for suicidal ideation (SI) and suicide attempt in the general population. Self-perceived burden, studied among medically and terminally ill medical populations, has begun to receive a great deal of attention as a suicide risk factor. However, this risk has not been considered in an outpatient chronic pain population, a group likely to experience perceived burdensomeness as a particular problem. Guidelines recommend routine suicide risk screening in medical settings, but many questionnaires are time-consuming and do not allow for the assessment of the presence of newly identified risk constructs, such as perceived burdensomeness. This retrospective study examined the relationship between depression, perceived burdensomeness, and SI in a patient sample seeking behavioral treatment for chronic pain management. A logistic regression model was developed, with preliminary results indicating perceived burdensomeness was the sole predictor of SI, even in the presence of other well-established risk factors such as age, gender, depressive symptoms, and pain severity. Findings highlight the potential utility of a single-item screening question in routine clinical care as an incrementally superior predictor of SI in a chronic pain population.</p>

      <h4>Citation</h4>

      <p>Kanzler, K.E., Bryan, C.J., Morrow, C.E., & McGeary, D.D. (2012). Suicidal ideation and perceived burdensomeness in patients with chronic pain. Pain Practice, 12, 602-609. Full text available at http://onlinelibrary.wiley.com</p>
    </div>
  </div>
</div>