<div class="static-page-header">
  <div class="row">
    <div class="col-md-12">
      <h1>Mindfulness-Oriented Recovery Enhancement (MORE) to prevent opioid dependence in military personnel with chronic pain</h1>
    </div>
  </div>
</div>

<div class="static-page">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'more.jpg', width: 500, alt: "more", class: 'static-image' %>
    </div>
    <div class="col-md-8 static-text">
      <h3>Principal Investigator(s):</h3>
      <p>Eric L. Garland, PhD, LCSW, National Center for Veterans Studies</p>
      <h3>Funding Agency:</h3>
      <p>National Institute on Drug Abuse</p>
      <h3>Collaborating Institutions:</h3>
      <p>Evans Army Community Hospital</p>
      <p>Fort Carson, Colorado</p>
      <p>University of Texas Health Science Center at San Antonio</p>
      <h4>Status:</h4>
      <p>Active</p>
      <h4>Tags:</h4>
      <p>none</p>
      <h3>Description</h3>
      <p>In this treatment study, we are comparing the effectiveness of Mindfulness-Oriented Recovery Enhancement (MORE) to supportive group counseling for the prevention of opioid and narcotic misuse and addiction among active duty Soldiers with chronic pain conditions. MORE is a group therapy shown to be effective for reducing chronic pain and opioid misuse in civilian patients. This study is currently underway.</p>
    </div>
  </div>
</div>