<div class="static-page-header">
  <div class="row">
    <div class="col-md-12">
      <h2>National Center For Veterans Studies Collaborations</h2>
    </div>
  </div>
</div>

<div class="static-page">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'ncvscollaborations.jpg', width: 400, alt: "factors for ptsd", class: 'static-image' %>
    </div>
    <div class="col-md-8 static-text">
      <h3>Principal Investigator(s):</h3>
      <p>N/A</p>

      <h3>Funding Agency:</h3>
      <p>N/A</p>

      <h3>Collaborating Institutions:</h3>
      <p>N/A</p>

      <h4>Status:</h4>
      <p>Various</p>

      <h4>Description:</h4>
      <p>The National Center for Veterans Studies is actively engaged in collaborative research efforts with various sites within the Department of Defense and the Department of Veterans Affairs, and with other researchers investigating military-related issues and topics. Results to date have revealed important information about suicide risk among veterans treated with psychiatric medications, deployment-related stressors among active military personnel, and mental health stigma among military personnel.</p>

      <%= link_to "Back", research_path, class: "btn btn-primary btn-sm" %>
    </div>
  </div>
</div>