<div class="static-page-header">
  <div class="row">
    <div class="col-md-12">
      <h1>National Center For Veterans Studies Collaborations</h1>
    </div>
  </div>
</div>

<div class="static-page">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'factorsforptsd.jpg', width: 500, alt: "factors for ptsd", class: 'static-image' %>
    </div>
    <div class="col-md-8 static-text">
      <h3>Principal Investigator(s):</h3>
      <p>N/A</p>

      <h3>Funding Agency:</h3>
      <p>N/A</p>

      <h3>Collaborating Institutions:</h3>
      <p>N/A</p>

      <h4>Status:</h4>
      <p>Various</p>

      <h4>Tags:</h4>
      <p>Military Suicide, Military Resilience, Understanding Military Mental Health</p>

      <h4>Description:</h4>
      <p>The National Center for Veterans Studies is actively engaged in collaborative research efforts with various sites within the Department of Defense and the Department of Veterans Affairs, and with other researchers investigating military-related issues and topics. Results to date have revealed important information about suicide risk among veterans treated with psychiatric medications, deployment-related stressors among active military personnel, and mental health stigma among military personnel.</p>
    </div>
  </div>
</div>

<div class="static-page">
  <div class="row">
    <div class="col-md-12">
      <h2>Circumventing Mental Health Stigma By Embracing The Warrior Culture: Lessons Learned From The Defender's Edge Program</h2>

      <h4>Abstract</h4>

      <p>Despite considerable efforts on the part of the Department of Defense, Department of Veterans Affairs, and the wider mental health community, mental health stigma continues to be a significant barrier to seeking help by service members, highlighting the need for newer modes of thought. A significant factor contributing to this stigma is the fundamental difference between traditional mental health approaches and the warrior culture. As a mental health prevention initiative, the Defender's Edge (DEFED) program was specifically developed to fit within the United States Air Force Security Forces (SF) charged with ground combat operations while deployed to Iraq. DEFED adopted a strengths-based philosophy and integrated a psychologist into the SF culture. Evaluative feedback from 192 program participants is presented, demonstrating high programmatic acceptability and feasibility suggestive of success in circumventing mental health stigma.</p>

      <h4>Citation</h4>

      <p>Bryan, C.J., & Morrow, C.E. (2011). Circumventing mental health stigma by embracing the warrior culture: feasibility and acceptability of the Defender's Edge Program. Professional Psychology: Research and Practice, 42, 16-23. Full text available at http://psycnet.apa.org</p>
      <br>
      <br>
      <h2>Means And Capacity For Suicidal Behavior: A Comparison Of The Ratio Of Suicide Attempts And Deaths By Suicide In The US Military And General Population</h2>

      <h4>Abstract</h4>

      <p>Background: There is a discrepancy in the frequency of non-lethal and lethal suicidal behavior. Given the extensive training in firearms within the military and prior research indicating that military personnel exhibit elevated mean levels of the acquired capability, we hypothesized that the ratio between non-lethal and lethal suicidal behavior would be lower in US military personnel than in the general population. Method: We examined publicly available data on non-lethal and lethal suicidal behavior within the US military and US general population. Results: The ratio of non-lethal to lethal suicidal behavior was lower in military across sex and age. Furthermore, results indicated that a greater proportion of both non-lethal and lethal suicide attempts in military personnel involved firearms. When considering only suicidal behavior unrelated to firearms, the ratio remained significantly lower in the military. The ratio of non-lethal to lethal suicidal behavior involving drugs and alcohol was not significantly lower in the military. Limitations: The use of public data precluded analyses directly testing competing theories. Also, level of intent involved in non-lethal self-injury in the general population was unclear. Finally, only active duty personnel were considered in analyses related to the military. Conclusions: Suicide attempts in the military are more likely to result in death than in the general population. This appears to be primarily due to the use more lethal means. Clinically, this speaks to the importance of recognizing suicidal desire in military personnel, as it is more likely to be paired with the capacity for suicide than in civilians.</p>

      <h4>Citation</h4>

      <p>Anestis, M.D., & Bryan, C.J. (2013). Means and capacity for suicidal behavior: a comparison of the ratio of suicide attempts and deaths by suicide in the U.S. military and general population. Journal of Affective Disorder, 148, 42-47. Full text available at http://www.sciencedirect.com</p>
      <br>
      <br>
      <h2>Warning Signs For Suicide Within A Week Of Healthcare Contact In Veteran Decedents</h2>

      <h4>Abstract</h4>

      <p>Objectives: This study examined warning signs for suicide observed in the final day(s) of life in Veteran decedents who received healthcare from Veterans Health Administration (VHA) (N=381), using data obtained from detailed chart reviews. Methods: Veterans who died within a week (7 days) of healthcare contact (18%) were compared to those who died later (82%). Multivariate logistic regression was used to examine differences in suicidal thoughts, psychiatric symptoms, and somatic symptoms as documented at the last visit, after controlling for demographic variables. A second multivariate regression examined whether the identified warning signs were also risk factors for suicide within a month (30 days) of contact. Results: Documented suicidal ideation, OR (95% CI)=3.46 (1.15–10.38), and psychotic symptoms, OR (95% CI)=2.67 (1.11–6.42), at the last visit increased the likelihood of suicide within a week of healthcare contact. Both variables also increased the odds of suicide within a month of contact. Conclusions: The assessment of suicidal ideation is critical to identify Veterans at immediate risk. However, recognition of psychotic symptoms may also improve identification. In addition to indicating immediate risk, some warning signs may also suggest on-going risk.</p>

      <h4>Citation</h4>

      <p>Britton, P.C., Conner, K., Rudd, M.D., & Ilgen, M. (2012). Warning signs for suicide within a week of healthcare contact in Veteran decedents. Journal of Psychiatry Research, 200, 395-399. Full text available at http://sciencedirect.com</p>
      <br>
      <br>
      <h2>Understanding And Preventing Military Suicide</h2>

      <h4>Citation</h4>

      <p>Bryan, C.J., Jennings, K.W., Jobes, D.A., & Bradley, J.C. (2012). Understanding and preventing military suicide. Archives of Suicide Research, 16, 95-110.</p>
      <br>
      <br>
      <h2>Sleep Problems Outperform Depression And Hopelessness As Cross-Sectional And Longitudinal Predictors Of Suicidal Ideation And Behavior In Young Adults In The Military</h2>

      <h4>Citation</h4>

      <p>Ribeiro, J.D., Pease, J.L., Gutierrez, P.M., Silva, C., Bernert, R.A., Rudd, M.D., & Joiner, T.E. (2012). Sleep problems outperform depression and hopelessness as cross-sectional and longitudinal predictors of suicidal ideation and behavior in young adults in the military. Journal of Affective Disorders, 136, 743-750.</p>
      <br>
      <br>
      <h2>A Psychometric Study Of The Suicide Ideation Scale</h2>

      <h4>Citation</h4>

      <p>Luxton, D.D., Rudd, M.D., Reger, M.A., & Gahm, G.A. (2011). A psychometric study of the Suicide Ideation Scale. Archives of Suicide Research, 15, 250-258.</p>
      <br>
      <br>
      <h2>Suicide Among Service Members: Empirically Supported Models And Treatment Strategies</h2>

      <h4>Citation</h4>

      <p>Bryan, C.J. (2011). Suicide among service members: empirically supported models and treatment strategies. Psychiatric Times, 28.</p>
      <br>
      <br>
      <h2>Suicide in the U.S. Army: Stressor-Strain Hypothesis Among Deployed and Nondeployed Army National Guard Soldiers</h2>

      <h4>James Griffith</h4>
      <p>National Center for Veterans Studies<br>
      University of Utah, Salt Lake City, UT</p>

      <h4>To appear in the special issue of the Journal of Aggression, Conflict, and Peace Resolution.</p>

      <h4>Abstract</h4>

      <p>The present study examines suicide risk among Army National Guard (ARNG) soldiers in three large data sets, representing both deployed and nondeployed soldiers of varying suicide risk. Period prevalence (within the last year) of suicidal behaviors among soldiers was higher (for thoughts, plans, and attempts, respectively 4-6%, 1.3-2.2%, and 0.7-.0.8%) than among civilian populations (respectively, 2.6%, 0.7%, and 0.4%). Risk was highest among home station or garrison soldiers than deployed soldiers. Stressful life events associated with suicide risk included personal feelings of loneliness, anger, and frustration, followed by interpersonal behavioral problems, such as aggressive behavior toward a significant other and having committed a crime. Also evident are the beneficial effects (as a main effect and buffering effect) of feelings of cohesiveness, quality leaderships, and job satisfaction on suicidal behaviors. Findings were very similar in the two study samples, though for the deployed group, there was an added risk factor of having seen someone killed in combat and aside from that, findings were strikingly similar to risk factors observed in the general population.</p>

      <p>Key words: Suicide, Army National Guard, stressor-strain hypothesis, deployment, combat exposure</p>
    </div>
  </div>
</div>