<div class="static-page-header">
  <div class="row">
    <div class="col-md-12">
      <h2>PRImary care Screening Methods (PRISM) Study</h2>
    </div>
  </div>
</div>

<div class="static-page">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'prism.jpg', width: 400, alt: "PRISM", class: 'static-image' %>
    </div>
    <div class="col-md-8 static-text">
      <h3>Principal Investigator(s):</h3>
      <p>Craig J. Bryan, PsyD, ABPP, National Center for Veterans Studies</p>

      <h3>Funding Agency:</h3>
      <p>Defense Health Program</p>

      <h3>Collaborating Institutions:</h3>
      <p>Hill Air Force Base, Utah</p>
      <p>Naval Medical Center Portsmouth, Virginia</p>
      <p>Fort Carson, Colorado</p>
      <p>McConnell Air Force Base, Kansas</p>
      <p>Naval Health Research Center, San Diego, California</p>
      <p>University of Colorado-Denver</p>

      <h4>Status:</h4>
      <p>Active</p>

      <h4>Description:</h4>
      <p>In this study, we are testing the ability of a new suicide prevention screening instrument to predict future suicide attempts among military personnel, retirees, and family members seeking care from military primary care clinics. We are additionally seeking to quantify the proportion of individuals who are "missed" by existing screening methods. This study is currently underway.</p>

      <%= link_to "Back", research_path, class: "btn btn-primary btn-sm" %>
    </div>
  </div>
</div>