<div class="static-page-header">
  <div class="row">
    <div class="col-md-12">
      <h1>Analyses Of Risk And Protective Factors For Trauma-Related Events</h1>
    </div>
  </div>
</div>

<div class="static-page">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'protectivefactors.jpg', width: 500, alt: "brain injury", class: 'static-image' %>
    </div>
    <div class="col-md-8 static-text">
      <h3>Principal Investigator(s):</h3>
      <p>Craig J. Bryan, PsyD, ABPP, National Center for Veterans Studies</p>
      <p>National Center for Veterans Studies</p>
      <p>Mary McNaughton-Cassill, PhD, University of Texas San Antonio</p>

      <h3>Funding Agency:</h3>
      <p>San Antonio Life Sciences Institute</p>

      <h3>Collaborating Institutions:</h3>
      <p>University of Texas at San Antonio</p>

      <h4>Status:</h4>
      <p>Closed to enrollment</p>

      <h4>Tags:</h4>
      <p>Military Trauma & PTSD, Military Resilience, Military Suicide</p>

      <h4>Description:</h4>
      <p>In this anonymous survey study, we are seeking to identify factors that protect against mental health problems, especially posttraumatic stress disorder, among active duty Air Force personnel who have experienced a range of potentially traumatic events (e.g., combat, sexual assault). To date, we have found that certain types of belongingness, positive self-regard, and a strong sense of meaning or purpose in life are associated with less severe emotional distress and suicidal ideation.</p>
    </div>
  </div>
</div>

<div class="static-page">
  <div class="row">
    <div class="col-md-12">
      <h2>Life Meaning Following Combat Among Air Force Security Forces Personnel</h2>

      <h4>Abstract</h4>

      <p>An active duty Air Force ground combat unit (n = 189) completed surveys about trauma and combat exposure, mood symptoms, and meaning in life. Two dimensions of deployment-related traumas were assessed: combat (e.g., firing weapons, being fired upon) and aftermath (e.g., seeing dead bodies, injury). Results of regression analyses indicated that Airmen who experienced more intense combat reported less presence of meaning in life, although the significant interaction with gender suggested declines in meaning in life were especially pronounced among males with higher combat intensity. In contrast, more intense aftermath exposure was associated with slightly stronger meaning in life, with no differences by gender. Intensity of combat exposure might differentially affect perceived meaning in life for male versus female combatants.</p>

      <h4>Citation</h4>

      <p>Bryan, C.J., Elder, W., McNaughton-Cassill, M., Osman, A., Allison, S., & Hernandez, A.M. (in press). Life meaning following combat among Air Force Security Forces personnel. Military Psychology, 25, 354-364. Full text available at http://psycnet.apa.org</p>
      <br>
      <br>
      <h2>Agency Is Associated With Decreased Emotional Distress And Suicidal Ideation In Military Personnel</h2>

      <h4>Abstract</h4>

      <p>Suicides in the U.S. military continue to rise at a rapid rate. Identification of protective factors that reduce risk for suicidal thoughts and behaviors among military personnel are therefore needed. Agency—the sense that one is competent, effective, and in control of one's life—has shown to reduce the effects of hopelessness and emotional distress on suicidal thoughts and attempts in non-military populations. The current study explores the association of agency with suicidal ideation in a sample (n = 273) of active duty Air Force Security Forces personnel. Results of generalized regression modeling suggest that agency is directly associated with decreased emotional distress and severity of suicidal ideation, but does not moderate the effect of emotional distress on suicidal ideation.</p>

      <h4>Citation</h4>

      <p>Bryan, C.J., Andreski, S.R., McNaughton-Cassill, M., & Osman, A. (in press). Agency is associated with decreased emotional distress and suicidal ideation in military personnel. Archives of Suicide Research.</p>
      <br>
      <br>
      <h2>The Functions Of Social Support As Protective Factors For Suicidal Ideation In A Sample Of Air Force Personnel</h2>

      <h4>Abstract</h4>

      <p>This study examined various functions of social support (i.e., tangible, esteem, belonging, and appraisal) as protective factors for suicidal ideation in a sample of 273 active duty Air Force Security Forces personnel. Generalized linear regression analyses were conducted to determine if various social support functions were differentially associated with the presence and severity of suicidal ideation, both as main effects and as moderators of emotional distress. None of the four social support functions differentiated suicidal from nonsuicidal Airmen, but esteem support (i.e., feeling respected, encouraged, and valued by others) was associated with significantly less severe suicidal ideation (B = -.074, SE = .025, p = .003). A significant interaction of tangible support (i.e., access to material resources) with emotional distress indicated that emotional distress was associated with more severe suicidal ideation only among Airmen reporting low levels of tangible support (B = .006, SE = .003, p = .018). When considered concurrently, both tangible and self-esteem functions of social support are differentially associated with decreased suicidal ideation among Airmen, but belonging (i.e., having someone to do things with) and appraisal (i.e., having someone to talk to about problems) functions were not. Findings suggest that different aspects of social support affect suicidal ideation in different ways.</p>

      <h4>Citation</h4>

      <p>Bryan, C.J., & Hernandez, A.M. (2013). The functions of social support as protective factors for suicidal ideation in a sample of Air Force personnel. Suicide and Life-Threatening Behavior, 43, 562-573. Full text available at http://onlinelibrary.wiley.com</p>
      <br>
      <br>
      <h2>Meaning In Life, Emotional Distress, Suicidal Ideation, And Life Functioning In An Active Duty Military Sample</h2>

      <h4>Abstract</h4>

      <p>The present study examined the relationship of meaning in life with emotional distress, suicidal ideation, and life functioning in a sample of 273 active duty Security Forces personnel assigned to two US Air Force bases. Results of regression analyses indicated that stronger meaning in life was significantly associated with less severe emotional distress (p < 0.001, ΔR 2 = 0.047) and suicidal ideation (p = 0.043, ΔR 2 = 0.017), and better functioning at work and in intimate relationships, nonfamily relationships, and recreational activities (p < 0.001, ΔR 2 = 0.073). Meaning in life showed stronger associations with outcomes relative to other predictors and covariates and explained the relationship between belonging and life functioning. Findings suggest that meaning in life is associated with less emotional distress and suicide risk, and greater success and performance across multiple domains in life among military personnel.</p>

      <h4>Citation</h4>

      <p>Bryan, C.J., Elder, W.B., McNaughton-Cassill, M., Osman, A., Hernandez, A.M., & Allison, S. (2013). Meaning in life, emotional distress, suicidal ideation, and life functioning in an active duty military sample. Journal of Positive Psychology, 8, 444-452. Full text available at http://www.tandfonline.com</p>
      <br>
      <br>
      <h2>Age And Belongingness Moderate The Effects Of Combat Exposure On Suicidal Ideation Among Active Duty Military Personnel</h2>

      <h4>Abstract</h4>

      <p>Objective: To determine if intensity of combat exposure relates to suicidal ideation among active duty Air Force personnel according to age and perceived belonging. Method: Self-report measures of suicidal ideation, combat exposure (e.g., firing weapons, being fired upon), aftermath exposure (e.g., seeing dead bodies and devastation), emotional distress, belongingness, and perceived burdensomeness were completed by 273 (81.7% male; 67.8% Caucasian, 20.5% African American, 2.2% Native American,.7% Asian,.4% Pacific Islander, and 8.4% "other"; age M=25.99, SD=5.90) active duty Air Force Security Forces personnel. Multiple regression modeling was utilized to test the associations of combat exposure and aftermath exposure with recent suicidal ideation. Results: A significant age-by-combat exposure interaction was found (B=0.014, SE=0.006, p=0.019), suggesting combat exposure and suicidal ideation was strongest among military personnel above the age of 34. The age-by-aftermath exposure interaction was not significant (B=-0.003, SE=0.004, p=0.460). A significant three-way interaction of age, combat exposure, and belongingness was also found (B=0.011, SE=0.005, p=0.042). The Johnson-Neyman test indicated that suicidal ideation was most severe among Airmen above the age of 29 years with high combat exposure and low levels of belongingness. Limitations: Cross-sectional, self-report design limited to two Air Force units. Conclusions: A strong sense of belonging protects against suicidal ideation among Airmen above the age of 29 years who have been exposed to higher levels of combat.</p>

      <h4>Citation</h4>

      <p>Bryan, C.J., McNaughton-Cassill, M., & Osman, A. (2013). Age and belongingness moderate the effects of combat exposure on suicidal ideation among active duty military personnel. Journal of Affective Disorders, 150, 1226-1229. Full text available at http://www.ncbi.nlm.nih.gov</p>
      <br>
      <br>
      <h2>The Association Of Physical And Sexual Assault With Suicide Risk In Nonclinical Military And Undergraduate Samples</h2>

      <h4>Abstract</h4>

      <p>The associations of various forms of sexual and physical assault with a history of suicide attempts and recent suicide ideation were studied in two distinct samples: active duty military and undergraduate students. A total of 273 active duty Air Force personnel and 309 undergraduate students anonymously completed self-report surveys of assault victimization, emotional distress, belongingness, recent suicide ideation, and previous suicide attempts. Among military personnel, rape, robbery, or violent assault was associated with a nonsignificant trend toward increased risk for suicide attempts, whereas physical abuse or battering as an adult was significantly associated with recent suicide ideation. Among undergraduates, unwanted sexual experiences as an adult and physical or sexual abuse as a child were significantly associated with increased risk for suicide attempt, but only unwanted experiences as an adult was significantly associated with increased risk for suicide ideation. Experiencing multiple forms of assault increased risk for suicide attempts and ideation in both groups. Results suggest that different types of assault contribute differentially to suicide risk in military versus undergraduate populations, but experiencing multiple types of assault is associated with increased risk in both groups.</p>

      <h4>Citation</h4>

      <p>Bryan, C.J., McNaughton-Cassill, M., Osman, A., & Hernandez, A.M. (2013). The association of physical and sexual assault with suicide risk in nonclinical military and undergraduate samples. Suicide and Life-Threatening Behavior, 43, 223-234. Full text available at http://onlinelibrary.wiley.com</p>
    </div>
  </div>
</div>