<div class="static-page-header">
  <div class="row">
    <div class="col-md-12">
      <h2>Analyses Of Risk And Protective Factors For Trauma-Related Events</h2>
    </div>
  </div>
</div>

<div class="static-page">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'protectivefactors.jpg', width: 400, alt: "brain injury", class: 'static-image' %>
    </div>
    <div class="col-md-8 static-text">
      <h3>Principal Investigator(s):</h3>
      <p>Craig J. Bryan, PsyD, ABPP, National Center for Veterans Studies</p>
      <p>National Center for Veterans Studies</p>
      <p>Mary McNaughton-Cassill, PhD, University of Texas San Antonio</p>

      <h3>Funding Agency:</h3>
      <p>San Antonio Life Sciences Institute</p>

      <h3>Collaborating Institutions:</h3>
      <p>University of Texas at San Antonio</p>

      <h4>Status:</h4>
      <p>Closed to enrollment</p>

      <h4>Description:</h4>
      <p>In this anonymous survey study, we are seeking to identify factors that protect against mental health problems, especially posttraumatic stress disorder, among active duty Air Force personnel who have experienced a range of potentially traumatic events (e.g., combat, sexual assault). To date, we have found that certain types of belongingness, positive self-regard, and a strong sense of meaning or purpose in life are associated with less severe emotional distress and suicidal ideation.</p>

      <%= link_to "Back", research_path, class: "btn btn-primary btn-sm" %>
    </div>
  </div>
</div>