<div class="app-card-container-header">
  <div class="card">
    <div class="row">
      <div class="col-md-12">
        <div class="inner cover">
          <h1 class="cover-heading pages-title">RESEARCH</h1>
          <%= video_tag(
          'Cropped-Banner-Flag.mp4',
            id: 'background',
            autoplay: true,
            loop: true,
            muted: true,
          )
          %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex-container">
  <h1 class="flex-item-3-header">Current Workshops</h1>
</div>

<div class="flex-container">
  <div class="flex-item-3-1">
    <h4>BRIEF COGNITIVE BEHAVIORAL THERAPY FOR SUICIDAL SERVICE MEMBERS AND VETERANS WORKSHOP SUMMARY</h4>
    <br>
    <p>This two-day workshop is geared towards mental health professionals seeking to acquire entry-level information and training on the assessment, management, and treatment of suicide risk among suicidal military personnel and veterans. The first portion of the workshop provides intensive training in core competencies for the clinical care of suicidal patients, including general interpersonal dynamics, standardization of suicide-related terminology, and documentation strategies. The workshop then provides a detailed, step-by-step review of the 12-session brief cognitive behavioral therapy (BCBT) treatment protocol. Practical strategies for effective treatment delivery are provided using case examples, role plays, and skills practice, which illustrate concepts and interventions. Participants will receive a copy of the BCBT manual for future use with patients.</p>

    <h4>Workshop content:</h4>

    <ol>  
      <li>SUICIDE IN THE MILITARY CULTURE</li>
      <li>FOUNDATIONS OF CARE</li>
        <ul>
          <li>Terminology</li>
          <li>Interpersonal dynamics with suicidal patients</li>
          <li>Collaborative approach to care</li>
        </ul>
      <li>OVERVIEW OF TREATMENT APPROACH</li>
        <ul>
          <li>Suicidal mode theory</li>
          <li>Scientific basis</li>
        </ul>
      <li>TREATMENT PHASE I: CLINICAL RISK ASSESSMENT & DECISION-MAKING</li>
      <li>TREATMENT PHASE II: COGNITIVE RESTRUCTURING OF THE SUICIDAL BELIEF SYSTEM</li>
      <li>TREATMENT PHASE III: RELAPSE PREVENTION TASK</li>
    </ol>
  </div>

  <div class="flex-item-3-2">
    <h4>CRISIS RESPONSE PLANNING FOR SUICIDAL PATIENTS TRAINING WORKSHOP OUTLINE</h4>
    <br>
    <p>This full-day workshop is designed to enhance professionals' knowledge about crisis response planning for managing acute suicide risk, and to increase their ability to confidently and competently administer this intervention with at-risk individuals. The first half of the workshop provides didactic knowledge about suicide, the development of the crisis response plan intervention, and its empirical support, all of which are designed to increase clinician knowledge. The second half of the workshop includes clinical demonstrations by the instructor and skills practice by attendees, which are designed for clinicians to acquire skill competency.</p>

    <h4><u>Outline of the training curriculum:</u></h4>

    <ol>  
      <li>UNDERSTANDING SUICIDAL BEHAVIORS</li>
      <li>THE FUNCTIONAL MODEL OF SUICIDE</li>
        <ul>
          <li>Suicide as a coping strategy</li>
          <li>Motives for suicidal behavior</li>
          <li>Factors that reinforce suicidal behavior</li>
        </ul>
      <li>THE FLUID VULNERABILITY THEORY</li>
        <ul>
          <li>Stable and dynamic properties of suicide risk</li>
          <li>The suicidal mode</li>
        </ul>
      <li>FOUNDATIONS FOR CARE</li>
        <ul>
          <li>Common reactions to suicidal patients</li>
          <li>Managing emotional reactions to suicidal patients</li>
        </ul>
      <li>THE NARRATIVE ASSESSMENT</li>
        <ul>
          <li>Risk assessment domains</li>
          <li>The general approach to the narrative assessment</li>
          <li>Clinical demonstrations and role plays</li>
        </ul>
      <li>THE CRISIS RESPONSE PLAN</li>
        <ul>
          <li>Mechanics: what a crisis plan is and is not</li>
          <li>Scientific evidence</li>
          <li>Clinical demonstrations and role plays</li>
        </ul>
    </ol>

    <h4><u>Objectives:</u></h4>
      <ul>
        <li>To describe the primary motives for suicidal behavior</li>
        <li>To effectively conduct a narrative assessment of the patient's index suicidal crisis</li>
        <li>To identify the core components of a crisis response plan</li>
        <li>To help a suicidal patient identify and implement strategies that can reduce their suicide risk</li>
      </ul>
    </div>

    <div class="flex-item-3-3">
      <h4>MENTAL HEALTH & THE MILITARY: STRATEGIES FOR TREATING VETERANS AND THEIR FAMILIES</h4>
      <br>
      <p>This one-day workshop is geared towards mental health professionals and paraprofessionals seeking to acquire entry-level information and training on military culture and mental health stigma, posttraumatic stress disorder (PTSD), and other common problems and conditions that military personnel and veterans present with in clinical settings (e.g., insomnia, anger and aggression, suicide risk, family-related problems). The workshop provides an in-depth discussion of military cultural issues that affect clinical care for military perosnnel and veterans, and strategies for adapting mental health services to better meett he needs of these patients. An overview of the theory, administration, and scientific support for several empirically-supported treatments for the most common conditions is also provided. Participants will leave with a clear understanding of best practices for treating combat-related PTSD, and resources for obtaining more advanced training in prolonged exposure and cognitive processing therapy for PTSD, and brief cognitive behavioral therapy for suicide risk.</p>
      <br>
      <p>This workshop is offered in-person or online via PESI.</p>
      <br>
      <p>CE Hours information: This activity qualifies for CE hours for the following professions: counselors (6.25 hrs), social workers (6.25 hrs), psychologists (6.0 hrs), marriage and family therapists (380 mins), addiction counselors (7.5 hrs), chaplains/clergy (6.25 hrs), and nurses (6.0 hrs). CE hours are provided through PESI.</p>
    </div>
  </div>
</div>

<div class="flex-container">
  <div class="flex-item-float-right">
    <h4>Workshops and Training</h4>
    <br>
    <p>If you are interested in scheduling one of the workshops, please email Dr. Craig Bryan at the National Center for Veterans Studies.</p>
    <br>
    <p>The NCVS additionally provides "customized" workshops and presentations upon request. Contact Dr. Craig Bryan for more information.</p>
  </div>
  <div class="flex-item-float-left">
  <%= image_tag "large-group-of-people-listening-to-a-presentation-picture-id526272636.jpg", width: 600, alt: "workshop" %>
  </div>
</div>

