<div class="static-page-header">
  <div class="row">
    <div class="col-md-12">
      <h2>Guilt, Shame, And Suicide Risk In A Military Clinical Population</h2>
    </div>
  </div>
</div>

<div class="static-page">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'suicideriskinmilitary.jpg', width: 400, alt: "suicide risk in military.jpg", class: 'static-image' %>
    </div>
    <div class="col-md-8 static-text">
      <h3>Principal Investigator(s):</h3>
      <p>Chad E. Morrow, PsyD, ABPP Maxwell Air Force Base</p>
      <p>Craig J. Bryan, PsyD, ABPP, National Center for Veterans Studies</p>
      <h3>Funding Agency:</h3>
      <p>N/A</p>

      <h3>Collaborating Institutions:</h3>
      <p>Maxwell Air Force Base, Alabama</p>
      <p>Nellis Air Force Base, Nevada</p>

      <h4>Status:</h4>
      <p>Active</p>

      <h4>Description</h4>
      <p>In this anonymous survey study, we are seeking to understand how guilt, shame, and moral injury are related to mental health problems, especially suicidal thoughts and behaviors, among active duty military personnel who are receiving outpatient mental health treatment. To date, we have found that guilt and shame are associated with suicide attempts and suicidal ideation, and have identified several dimensions of moral injury, which entails emotional distress associated with the witnessing or commission of acts that violate one's sense of right and wrong.</p>

      <%= link_to "Back", research_path, class: "btn btn-primary btn-sm" %>
    </div>
  </div>
</div>