<div class="static-page-header">
  <div class="row">
    <div class="col-md-12">
      <h1>Brief Interventions For Short-Term Suicide Risk Reduction In Military Populations</h1>
    </div>
  </div>
</div>

<div class="static-page">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'suicide-risk-reduction.jpg', width: 500, alt: "suicide risk reduction", class: 'static-image' %>
    </div>
    <div class="col-md-8 static-text">
      <h3>Principal Investigator(s):</h3>
      <p>Craig J. Bryan, PsyD, ABPP, National Center for Veterans Studies</p>
      <h3>Funding Agency:</h3>
      <p>Military Suicide Research Consortium (Department of Defense)</p>
      <h3>Collaborating Institutions:</h3>
      <p>Evans Army Community Hospital</p>
      <p>Fort Carson, Colorado</p>
      <p>University of Texas Health Science Center at San Antonio</p>
      <h4>Status:</h4>
      <p>Active</p>
      <h4>Tags:</h4>
      <p>none</p>
    </div>
  </div>
</div>