<div class="static-page-header">
  <div class="row">
    <div class="col-md-12">
      <h1>Guilt, Shame, And Suicide Risk In A Military Clinical Population</h1>
    </div>
  </div>
</div>

<div class="static-page">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'suicideriskinmilitary.jpg', width: 500, alt: "suicide risk in military.jpg", class: 'static-image' %>
    </div>
    <div class="col-md-8 static-text">
      <h3>Principal Investigator(s):</h3>
      <p>Chad E. Morrow, PsyD, ABPP Maxwell Air Force Base</p>
      <p>Craig J. Bryan, PsyD, ABPP, National Center for Veterans Studies</p>
      <h3>Funding Agency:</h3>
      <p>N/A</p>

      <h3>Collaborating Institutions:</h3>
      <p>Maxwell Air Force Base, Alabama</p>
      <p>Nellis Air Force Base, Nevada</p>

      <h4>Status:</h4>
      <p>Active</p>

      <h4>Tags:</h4>
      <p>Military Suicide, Military Resilience, Military Trauma & PTSDprojects banner</p>

      <h4>Description</h4>
      <p>In this anonymous survey study, we are seeking to understand how guilt, shame, and moral injury are related to mental health problems, especially suicidal thoughts and behaviors, among active duty military personnel who are receiving outpatient mental health treatment. To date, we have found that guilt and shame are associated with suicide attempts and suicidal ideation, and have identified several dimensions of moral injury, which entails emotional distress associated with the witnessing or commission of acts that violate one's sense of right and wrong.</p>
    </div>
  </div>
</div>

<div class="static-page">
  <div class="row">
    <div class="col-md-12">
      <h2>Suicide Attempts Among Military Personnel And Veterans As A Recurrence Of Premilitary Suicide Risk</h2>

      <h4>Abstract</h4>

      <p>Objective: Past self-injurious thoughts and behaviors (SITB) are robust predictors of future suicide risk, but no studies have explored the prevalence of SITB occurring prior to military service among military personnel and veterans, or the association of premilitary SITB with suicidal ideation and suicide attempts during or after military service. The current study explores these issues in two separate samples. Method: Self-report data were collected from 374 college student veterans via anonymous only survey (Study 1) and from 151 military personnel receiving outpatient mental health treatment. Results: Across both studies, premilitary suicide attempts were among the most prominent predictor of subsequent suicide attempts that occurred after joining the military, even when controlling for demographics and more recent emotional distress. Among military personnel who made a suicide attempt during or after military service, approximately 50% across both samples experienced suicidal ideation and up to 25% made a suicide attempt prior to joining the military. Military personnel and veterans who made suicide attempts prior to joining the military were over six times more likely to make a later suicide attempt after joining the military. In Study 2, significantly more severe current suicidal ideation was reported by participants with histories of premilitary suicide risk, even when controlling for SITB occurring while in the military. Conclusions: Military personnel and veterans who experienced SITB, especially suicide attempts, prior to joining the military are more likely to attempt suicide while in the military and/or as a veteran, and experience more severe suicidal crises.</p>

      <h4>Citation</h4>

      <p>Bryan, C.J., Bryan, A.O., Ray-Sannerud, B.N., Etienne, N., & Morrow, C.E. (in press). Suicide attempts among military personnel and veterans as a recurrence of premilitary suicide risk. Comprehensive Psychiatry.</p>
      <br>
      <br>
      <h2>Optimism Reduces Suicidal Ideation And Weakens The Effect Of Hopelessness Among Military Personnel</h2>

      <h4>Abstract</h4>

      <p>Suicide risk is an issue of increasing concern among military personnel. To date, most studies have focused on identifying risk factors for suicide in military personnel, but have by and large overlooked possible protective factors that reduce suicide risk, such as optimism. In a clinical sample of 97 treatment-seeking active duty Air Force personnel, the protective effects of optimism on suicidal ideation was investigated by considering the direct effect of optimism on suicidal ideation as well as the possible moderating effects of optimism on several suicide risk factors: depression, posttraumatic stress, and hopelessness. When adjusting for demographic and clinical covariates, results of multiple regression indicated that optimism was significantly associated with less severe depression, hopelessness, and suicidal ideation, but not posttraumatic stress symptoms. The interaction of optimism with hopelessness was also significant, and indicated that severe hopelessness contributed to more severe suicidal ideation only among participants with low levels of optimism. Results suggest that optimism is associated with less severe suicidal ideation, and buffer the effects of hopelessness among military patients.</p>

      <h4>Citation</h4>

      <p>Bryan, C.J., Ray-Sannerud, B.N., Morrow, C.E., & Etienne, N. (2013). Optimism reduces suicidal ideation and weakens the effect of hopelessness among military personnel. Cognitive Therapy and Research, 37, 996-1003. Full text available at http://link.springer.com</p>
      <br>
      <br>
      <h2>Guilt Is More Strongly Associated With Suicidal Ideation Among Military Personnel With Direct Combat Exposure</h2>

      <h4>Abstract</h4>

      <p>Background: Suicide rates in the U.S. military have been rising rapidly in the past decade. Research suggests guilt is a significant predictor of suicidal ideation among military personnel, and may be especially pronounced among those who have been exposure to combat-related traumas. The current study explored the interactive effect of direct combat exposure and guilt on suicidal ideation in a clinical sample of military personnel. Methods: Ninety-seven active duty U.S. Air Force personnel receiving outpatient mental health treatment at two military clinics completed self-report symptom measures of guilt, depression, hopelessness, perceived burdensomeness, posttraumatic stress disorder, and suicidal ideation. Results: Generalized multiple regression analyses indicated a significant interaction of guilt and direct combat exposure (B=.124, SE=.053, p=.020), suggesting a stronger relationship of guilt with suicidal ideation among participants who had direct combat exposure as compared to those who had not. The interactions of direct combat exposure with depression (B=.004, SE=.040, p=.926), PTSD symptoms (B=.016, SE=.018, p=.382), perceived burdensomeness (B=.159, SE=.152, p=.300) and hopelessness (B=.069, SE=.036, p=.057) were nonsignificant. Conclusions: Although guilt is associated with more severe suicidal ideation in general among military personnel, it is especially pronounced among those who have had direct combat exposure.</p>

      <h4>Citation</h4>

      <p>Bryan, C.J., Ray-Sannerud, B., Morrow, C.E., & Etienne, N. (2013). Guilt is more strongly associated with suicidal ideation among military personnel with direct combat exposure. Journal of Affective Disorders, 148, 37-41. Full text available at http://linkinghub.elsevier.com</p>
      <br>
      <br>
      <h2>Shame, Pride, And Suicidal Ideation In A Military Clinical Sample</h2>

      <h4>Abstract</h4>

      <p>Background: Suicide risk among U.S. military personnel has been increasing over the past decade. Fluid vulnerability theory (FVT; Rudd, 2006) posits that acute suicidal episodes increase in severity when trait-based (e.g., shame) and state-based (e.g., hopelessness) risk factors interact, especially among individuals who have been previously suicidal. In contrast, trait-based protective factors (e.g., pride) should buffer the deleterious effects of risk factors. Methods: 77 active duty military personnel (95% Air Force; 58.4% male, 39.0% female; 67.5% Caucasian, 19.5% African-American, 1.3% Native American, 1.3% Native Hawaiian/Pacific Islander, 1.3% Asian, and 5.2% other) engaged in outpatient mental health treatment completed self-report surveys of shame, hopelessness, pride, and suicidal ideation. Multiple generalized regression was utilized to test the associations and interactive effects of shame, hopelessness, and worst-point past suicidal ideation on severity of current suicidal ideation. Results: Shame significantly interacted with hopelessness (B=-0.013, SE=0.004, p>0.001) and worst-point suicidal ideation (B=0.027, SE=0.010, p=0.010), augmenting each variable's effect on severity of current suicidal ideation. A significant three-way interaction among shame, worst-point suicidal ideation, and pride was also observed (B=-0.010, SE=0.0043, p=0.021), indicating that pride buffered the interactive effects of shame with worst-point suicidal ideation. Limitations: Small sample size, cross-sectional design, and primarily Air Force sample. Conclusions: Among military outpatients with histories of severe suicidal episodes, pride buffers the effects of hopelessness on current suicidal ideation. Results are consistent with FVT.</p>

      <h4>Citation</h4>

      <p>Bryan, C.J., Ray-Sannerud, B.N., Morrow, C.E., & Etienne, N. (2013). Shame, pride, and suicidal ideation in a military clinical sample. Journal of Affective Disorders, 147, 212-216. Full text available at http://linkinghub.elsevier.com</p>
      <br>
      <br>
      <h2>Guilt, Shame, And Suicidal Ideation In A Military Outpatient Clinical Sample</h2>

      <h4>Abstract</h4>

      <p>Backgrounds: Increased suicide risk among US military personnel is a growing concern. Research has linked trauma exposure, including exposure to combat-related injuries, death, and atrocities to suicidal ideation among combat veterans. Guilt (feeling bad about what you did to another) and shame (feeling bad about who you are) have been proposed as potential contributors to suicidal ideation among military personnel, but have not yet received much empirical attention. Methods: Sixty-nine active duty military personnel receiving outpatient mental health treatment at a military clinic completed self-report symptom measures of guilt, shame, depression, posttraumatic stress disorder, and suicidal ideation while engaged in treatment. Generalized linear regression modeling was utilized to test the association of guilt and shame with suicidal ideation. Results: Mean levels of guilt and shame were significantly higher among military personnel with a history of suicidal ideation. Guilt (B = 0.203, SE = .046, P < .001) and shame (B = 0.111, SE = .037, P = .002) were independently associated with severity of current suicidal ideation above and beyond the effects of depression, PTSD symptoms, and the depression-by-PTSD interaction, and fully mediated the relationships of depression and PTSD symptom severity with suicidal ideation. When considered simultaneously, only guilt (B = 0.167, SE = .053, P = .001) was significantly associated with increased suicidal ideation. Conclusions: Guilt and shame are associated with increased severity of suicidal ideation in military mental health outpatients. Guilt has a particularly strong relationship with suicidal ideation.</p>

      <h4>Citation</h4>

      <p>Bryan, C.J., Morrow, C.E., Etienne, N., & Ray-Sannerud, B. (2013). Guilt, shame, and suicidal ideation in a military outpatient clinical sample. Depression and Anxiety, 30, 55-60. Full text available at http://dx.doi.org</p>
    </div>
  </div>
</div>
