<div class="app-card-container-header">
  <div class="card">
    <div class="row">
      <div class="col-md-12">
        <div class="inner cover">
          <h1 class="cover-heading pages-title">TREATMENT</h1>
          <button type="button" class="btn btn-outline-secondary btn-lg">Survey Button</button>
          <%= video_tag(
          'Cropped-Banner-Flag.mp4',
            id: 'background',
            autoplay: true,
            loop: true,
            muted: true,
          )
          %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row treatment-header">
  <div class="col-md-12">
    <h1 class="treatment-header"><span>How can we help you?</span></h1>
  </div>
</div>

<div class="image-link-container">
  <div class="row image-link-boxes">
    <div class="col-md-6">
      <%= image_tag "american-soldier-on-the-phone-picture-id487459342.jpg", width: 700, alt: "veterans seeking help" %>
      <h1>VETERANS SEEKING HELP</h1>
    </div>
    <div class="col-md-6">

      <%= image_tag "man-at-the-psychotherapist-picture-id610262070.jpg", width: 700, alt: "health providers" %>
      <h1>HEALTH PROVIDERS</h1>
    </div>
  </div>
</div>