<% @title="WORKSHOPS" %>

<div class="workshop-header">
  <div class="row header-work">
    <div class="col-md-12">
      <h1>Current Workshops</h1>
    </div>
  </div>
</div>

<div class="workshops-main">
  <div class="row">
    <div class="col-md-4 workshop-box">
    <%= image_tag "workshop1.png", alt: "BRIEF COGNITIVE BEHAVIORAL THERAPY", class: 'workshop-img'%>
      <div class="workshop-text">
        <p><span>BRIEF COGNITIVE BEHAVIORAL THERAPY FOR SUICIDE PREVENTION</span></p>
        <br>
        <br>
        <p>This two-day workshop is geared towards mental health professionals seeking to acquire entry-level information and training on the assessment, management, and treatment of suicide risk among suicidal military personnel and veterans.</p>
        <p>
          <button class="btn btn-primary"
          type="button"
          data-toggle="collapse"
          data-target="#workshops-1"
          aria-expanded="false"
          aria-controler="workshops-1">
          Read More
          </button>
        </p>
        <p>
          <div class="collapse" id="workshops-1">
            <div class="card card-block">
              <div class="dropdown-text">
                <p>The first portion of the workshop provides intensive training in core competencies for the clinical care of suicidal patients, including general interpersonal dynamics, standardization of suicide-related terminology, and documentation strategies. The workshop then provides a detailed, step-by-step review of the 12-session brief cognitive behavioral therapy (BCBT) treatment protocol. Practical strategies for effective treatment delivery are provided using case examples, role plays, and skills practice, which illustrate concepts and interventions. Participants will receive a copy of the BCBT manual for future use with patients.</p>
              </div>
            </div>
          </div>
        </p>
      </div>
    </div>
    <div class="col-md-4 workshop-box">
    <%= image_tag "workshop2.png", alt: "CRISIS RESPONSE PLANNING", class: 'workshop-img'%>
      <div class="workshop-text">
        <p><span>CRISIS RESPONSE PLANNING<br>FOR SUICIDE PREVENTION</span></p>
        <br>
        <br>
        <p>This full-day workshop is designed to enhance professionals' knowledge about crisis response planning for managing acute suicide risk, and to increase their ability to confidently and competently administer this intervention with at-risk individuals. </p>
        <p>
          <button class="btn btn-primary"
          type="button"
          data-toggle="collapse"
          data-target="#workshops-2"
          aria-expanded="false"
          aria-controler="workshops-2">
          Read More
          </button>
        </p>
        <p>
          <div class="collapse" id="workshops-2">
            <div class="card card-block">
              <div class="dropdown-text">
                <p>The first half of the workshop provides didactic knowledge about suicide, the development of the crisis response plan intervention, and its empirical support, all of which are designed to increase clinician knowledge. The second half of the workshop includes clinical demonstrations by the instructor and skills practice by attendees, which are designed for clinicians to acquire skill competency.</p>
              </div>
            </div>
          </div>
        </p>
      </div>
    </div>
    <div class="col-md-4 workshop-box">
    <%= image_tag "workshop3.png", alt: "VE3TS UTAH", class: 'workshop-img'%>
      <div class="workshop-text">
        <p><span>PEER SPECIALIST TRAINING<br>
          
          <br></span></p>
        <br>
        <br>
        <p>This program is designed to connect service members, veterans, and thier families dealing with the challenges faced when adjusting and integrating into civilian life.</p>
          <button class="btn btn-primary"
          type="button"
          data-toggle="collapse"
          data-target="#workshops-4"
          aria-expanded="false"
          aria-controler="workshops-4">
          Read More
          </button>
        </p>
        <p>
          <div class="collapse" id="workshops-4">
            <div class="card card-block">
              <div class="dropdown-text">
                <p>Military life is like no other occupation or life experience, and no one knows more abou this service and sacrifice than another veteran.</p>
                <p>The mission of Utah Comrades is to stand with our brothers and sisters in arms and to help connect them and their families to needed resources with confidentiality and ease. The veterans who volunteer are trained to help address the issues facing veterans and their families: Education, employment, legal, and mental or physical health concerns.</p>
                <p>Volunteer Veteran Support Program created to connect veterans with the resources they need:</p>
              </div>
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="workshop-training-main">
  <div class="row workshops-training">
    <div class="col-md-6">
      <div class="workshops-training-left">
        <h4><span>Workshops and Training</span></h4>
        <br>
        <p>If you are interested in scheduling one of the workshops, please email The National Center for Veteran Studies.</p>
        <br>
        <p>The NCVS additionally provides "customized" workshops and presentations upon request. Contact us for more information.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="workshops-training-right">
      <%= image_tag "large-group-of-people-listening-to-a-presentation-picture-id526272636.jpg", width: 550, alt: "workshop" %>
      </div>
    </div>
  </div>
</div>