@import "bootstrap";
@import "gritter";

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 2rem;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  color: #fff;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}


/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}


/*
 * Footer
 */

 .footer {
  padding: 30px;
  color: white;
  background-color: black;
 }

.mastfoot {
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    margin-bottom: 2px;
    top: 0;
    background-color: black;

  }
  .mastfoot {
    position: fixed;
    margin: 10px;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    
  }
}

/*
 * Custom Styles
 */

 .banner2 {
    padding-left: 60px;
    padding-right: 60px;
 }

 .banner-text {
    font-size: 6em;
    text-align: center;
    padding-top: 40px;
 }

 .flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: auto;
    background:rgba(0,0,0,0.6);
}

 .flex-container-2 {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: auto;
    background-color: white;
}

 .flex-container-3 {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: auto;
    background-color: transparent;
}

.flex-item {
    border: 0.5px solid grey;
    color: black;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px;
}

.flex-item-2 {
    color: black;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px;
}

.flex-item-2 a {
    color: black;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px;
}

.flex-item-3-1 {
    background:rgba(0,47,93,0.9);
    text-align: left;
    color: white;
    width: 100%;
    height: auto;
    padding: 10px;
}
.flex-item-3-1:hover {
    background: #003366;
}

.flex-item-3-2 {
    background:rgba(0,64,128,0.9);
    text-align: left;
    color: white;
    width: 100%;
    height: auto;
    padding: 10px;
}
.flex-item-3-2:hover {
    background: #004080;
}

.flex-item-3-3 {
    background:rgba(0,89,179,0.9);
    text-align: left;
    color: white;
    width: 100%;
    height: auto;
    padding: 10px;
}
.flex-item-3-3:hover {
    background: #0059b3;
}

.flex-item-3-header {
    background-color: #001a33;
    text-align: center;
    color: white;
    width: 100%;
    height: auto;
    padding: 30px;
    font-size: 2ßßem;
}

.flex-item-float-left {
    float: left;
    background-color: #001a33;
    text-align: center;
    color: white;
    width: 100%;
    height: auto;
}

.flex-item-float-right {
    float: right;
    background-color: #001a33;
    text-align: center;
    color: white;
    width: 100%;
    height: auto;
    padding: 30px;
    font-size: 1.5em;
}

.flex-item-4 {
    background: white;
    text-align: center;
    color: black;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 25px;
}

.flex-item-5 {
    background: white;
    text-align: center;
    color: black;
    width: 100%;
    height: auto;
    padding: 15px;
    margin: 25px;
}

.flex-item-button {
    color: black;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px;
}

.about-section {
  padding: 20px;
}

.section-header {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #ffffff; 
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.section-header span {
  background: #000000;
  padding: 0px 20px 0px 20px;
}

.resource-img {
  padding-bottom: 20px;
} 

.banner2-image {
  padding: 0px;
  margin: 0px;
}

.banner2-text {
  padding: 10px;
}

.banner2-header {
  padding: 10px;
}

 .app-card-nav-header > .card {
  background: transparent;
}

 .card {
  border: 0px solid rgba(0, 0, 0, 0.125);
 }

.header-title {
  font-size: 3.5rem;
  padding-bottom: 10px;
  text-shadow: 2px 2px 8px #000000;
}

.header-subtitle {
  font-size: 2rem;
  text-shadow: 2px 2px 8px #000000;
}

.pages-title {
  font-size: 3.5rem;
  text-shadow: 2px 2px 8px #000000;
  padding-bottom: 50px;
}

.nav-header-title {
  padding-top: 100px;
  text-align: center;
}

.app-card-container-header > .card {
  margin: 200px;
  padding: 10px;
  background: transparent;
}

.app-card-container-header-login > .card {
  margin: 100px;
  padding: 10px;
  background: transparent;
}

.header-img {
  width: 100%;
  height: 80px;
  background-size: 100% auto !important;
}

.mission-statement {
  padding-bottom: 50px;
}

.app-card-container-statement > .card {
  border-top: 1px solid #ffffff;
  padding-top: 30px;
  background-color: black;
  
}

.statement-text {
  color: white;
  text-align: center;
  padding-top: 30px;
}

.group-img {
  padding: 20px;
}

.about-us {
  background-color: black;
}

.about-us-content {
  padding-top: 40px;
}

.about-statement {
  padding-top: 50px;
  text-align: center;
}

.about-text {
  text-align: center;
}

.image-link-container {
  background: #000000;
}

.treatment-header {
  font-size: 4rem;
  background: #000000;
  padding: 20px;
}

.image-link-boxes { 
   position: relative; 
   width: 100%; /* for IE 6 */
   background: #000000; 
}

.image-link-boxes h1 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%;
   font-size: 3rem;
}

.app-card-container-media {
  color: black;
  text-align: center;
}

.app-card-container-media > .card {
  padding: 40px;
  background: white;
}

.media-box {
  border: 0.5px solid grey;
}

.about-box {
  color: black;
  border: 0.5px solid grey;
}

.card-block {
  color: black;
  text-align: left;
}

.auth-links a {
  color: black;
}

.register-text {
  text-align: right;
}

.login > .card {
  width: 22rem;
  margin: 0 auto;
  float: none;
}

.app-nav span {
  margin-left: 15px;
  margin-right: 15px;
}

.workshops-1-main {
  background:url(war-veteran-with-problems-picture-id490240282.jpg);
  background-repeat:no-repeat !important;
  background-size: cover !important;
  background-position:center center !important;
  min-height:300px;
}

.workshops-1-main h4 {
  font-size: 2em;
}

.workshops-1-main:hover {
    background: #003366;
}

.workshops-1 {
  padding: 0 auto;
  width: 100%;
  height: auto;
}

.workshops-1-left{
  padding: 30px 60px 30px 60px;
  float: left;
  width: 50%;
  vertical-align: middle;
  text-align: center;
  height: auto;
}

.workshops-1-right{
  padding: 30px;
  float: right;
  width: 50%;
  vertical-align: middle;
  text-align: center;
}

.workshops-1-bottom{
  padding: 10px;
  width: 100%;
  clear: both;
}

.workshops-2-main {
  background:url(speaker-at-business-convention-and-presentation-picture-id498565457.jpg);
  background-repeat:no-repeat !important;
  background-size: cover !important;
  background-position:center center !important;
  min-height:300px;
}

.workshops-2-main h4 {
  font-size: 2em;
}

.workshops-2-main:hover {
    background: #004080;
}

.workshops-2 {
  padding: 0 auto;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.workshops-2-left{
  padding: 30px;
  float: left;
  width: 50%;
  vertical-align: middle;
  text-align: center;
}

.workshops-2-right{
  padding: 30px 50px 30px 50px;
  float: right;
  width: 50%;
  vertical-align: middle;
  text-align: center;
}

.workshops-2-bottom{
  padding: 10px;
  width: 100%;
  clear: both;
}

.workshops-3-main {
  background:url(soldier-spending-time-with-his-wife-and-son-picture-id624911656.jpg);
  background-repeat:no-repeat !important;
  background-size: cover !important;
  background-position:center center !important;
  min-height:300px;
}

.workshops-3-main h4 {
  font-size: 2em;
}

.workshops-3-main:hover {
    background: #004080;
}

.workshops-3 {
  padding: 0 auto;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.workshops-3-left{
  padding: 30px;
  float: left;
  width: 50%;
  vertical-align: middle;
  text-align: center;
}

.workshops-3-right{
  padding: 30px 50px 30px 50px;
  float: right;
  width: 50%;
  vertical-align: middle;
  text-align: center;
}

.workshops-3-bottom{
  padding: 10px;
  width: 100%;
  clear: both;
}

.training-img {
    width: 100%;
    height: auto;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 50%;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.app-footer {
  padding: 20px;
  color: white;
}

.social-media-links {
  padding: 10px;
}

.footer-logo {
  padding: 20px;
}























